openapi: 3.0.0
info:
  title: Unrivaled Games Seasons API
  version: v8
  description: Official real-time data API for the Unrivaled professional women's 3x3 basketball league, operated by Sportradar as the league's Official Data Provider. Feeds cover schedules, standings, rosters, real-time scores, play-by-play, injuries, transfers, and season statistics, in JSON or XML. Assembled by API Evangelist on 2026-07-21 from the per-endpoint OpenAPI definitions embedded in the 23 Unrivaled reference pages at https://developer.sportradar.com/basketball/reference/unrivaled-overview; operation content is preserved verbatim from the source definitions.
  contact:
    url: https://developer.sportradar.com/basketball/reference/unrivaled-overview
  x-provenance:
    generated: '2026-07-21'
    method: searched
    source: https://developer.sportradar.com/basketball/reference/unrivaled-overview
servers:
- url: https://api.sportradar.com/unrivaled/
security:
- sec0: []
tags:
- name: Seasons
paths:
  /{access_level}/v8/{language_code}/seasons/{season_year}/{season_type}/leaders.{format}:
    get:
      summary: Copy of Copy of Copy of Copy of New Endpoint
      description: This is your first endpoint! Edit this page to start documenting your API.
      operationId: get_{access_level}v8{language_code}leaguehierarchy.{format}-1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Result:
                  summary: Result
                  value:
                    season:
                      id: c86ab7c9-5408-44e6-af06-c22636262927
                      year: 2025
                      type: REG
                    id: 844ee10a-00c8-4dc1-9c17-52598de2ef47
                    name: Unrivaled
                    alias: UNRIVALED
                    type: league
                    categories:
                    - name: minutes
                      type: total
                      ranks:
                      - rank: 1
                        tied: false
                        score: 23
                        player:
                          id: fd8d4b11-3d70-450a-b65c-016bec29cc9d
                          full_name: Napheesa Collier
                          first_name: Napheesa
                          last_name: Collier
                          position: F
                          primary_position: NA
                          jersey_number: '24'
                        teams:
                        - id: 67c22115-2385-458f-8632-a67a025fef55
                          name: Lunar Owls
                        total:
                          games_played: 1
                          games_started: 1
                          minutes: 23
                          field_goals_made: 11
                          field_goals_att: 20
                          field_goals_pct: 0.55
                          two_points_made: 8
                          two_points_att: 13
                          two_points_pct: 0.615
                          three_points_made: 3
                          three_points_att: 7
                          three_points_pct: 0.429
                          blocked_att: 0
                          free_throws_made: 1
                          free_throws_att: 3
                          free_throws_pct: 0.333
                          offensive_rebounds: 1
                          defensive_rebounds: 9
                          rebounds: 10
                          assists: 3
                          turnovers: 1
                          assists_turnover_ratio: 3
                          steals: 1
                          blocks: 0
                          personal_fouls: 1
                          tech_fouls: 0
                          points: 27
                          flagrant_fouls: 0
                          ejections: 0
                          foulouts: 0
                          tech_fouls_non_unsportsmanlike: 0
                          true_shooting_att: 21.32
                          true_shooting_pct: 0.633
                          efficiency: 29
                          field_goals_at_rim_made: 0
                          field_goals_at_rim_att: 0
                          field_goals_at_midrange_made: 1
                          field_goals_at_midrange_att: 4
                          awarded_points: 0
                          coach_ejections: 0
                          coach_tech_fouls: 0
                          double_doubles: 1
                          effective_fg_pct: 0.625
                          fast_break_att: 0
                          fast_break_made: 0
                          fast_break_pct: 0
                          fast_break_pts: 0
                          fouls_drawn: 3
                          free_throw_points: 2
                          minus: 0
                          offensive_fouls: 0
                          plus: 0
                          points_in_paint: 10
                          points_in_paint_att: 7
                          points_in_paint_made: 5
                          points_in_paint_pct: 0.714
                          points_off_turnovers: 0
                          second_chance_att: 0
                          second_chance_made: 0
                          second_chance_pct: 0
                          second_chance_pts: 2
                          triple_doubles: 0
                          winning_baskets: 0
                        average:
                          minutes: 23
                          points: 27
                          off_rebounds: 1
                          def_rebounds: 9
                          rebounds: 10
                          assists: 3
                          steals: 1
                          blocks: 0
                          turnovers: 1
                          personal_fouls: 1
                          flagrant_fouls: 0
                          blocked_att: 0
                          field_goals_made: 11
                          field_goals_att: 20
                          three_points_made: 3
                          three_points_att: 7
                          free_throws_made: 1
                          free_throws_att: 3
                          two_points_made: 8
                          two_points_att: 13
                          efficiency: 29
                          true_shooting_att: 21.32
                          fast_break_att: 0
                          fast_break_made: 0
                          fast_break_pts: 0
                          fouls_drawn: 3
                          offensive_fouls: 0
                          points_in_paint: 10
                          points_in_paint_att: 7
                          points_in_paint_made: 5
                          points_off_turnovers: 0
                          second_chance_att: 0
                          second_chance_made: 0
                          second_chance_pts: 2
              schema:
                type: object
                properties:
                  season:
                    type: object
                    properties:
                      id:
                        type: string
                        example: c86ab7c9-5408-44e6-af06-c22636262927
                      year:
                        type: integer
                        example: 2025
                        default: 0
                      type:
                        type: string
                        example: REG
                  id:
                    type: string
                    example: 844ee10a-00c8-4dc1-9c17-52598de2ef47
                  name:
                    type: string
                    example: Unrivaled
                  alias:
                    type: string
                    example: UNRIVALED
                  type:
                    type: string
                    example: league
                  categories:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: minutes
                        type:
                          type: string
                          example: total
                        ranks:
                          type: array
                          items:
                            type: object
                            properties:
                              rank:
                                type: integer
                                example: 1
                                default: 0
                              tied:
                                type: boolean
                                example: false
                                default: true
                              score:
                                type: integer
                                example: 23
                                default: 0
                              player:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    example: fd8d4b11-3d70-450a-b65c-016bec29cc9d
                                  full_name:
                                    type: string
                                    example: Napheesa Collier
                                  first_name:
                                    type: string
                                    example: Napheesa
                                  last_name:
                                    type: string
                                    example: Collier
                                  position:
                                    type: string
                                    example: F
                                  primary_position:
                                    type: string
                                    example: NA
                                  jersey_number:
                                    type: string
                                    example: '24'
                              teams:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      example: 67c22115-2385-458f-8632-a67a025fef55
                                    name:
                                      type: string
                                      example: Lunar Owls
                              total:
                                type: object
                                properties:
                                  games_played:
                                    type: integer
                                    example: 1
                                    default: 0
                                  games_started:
                                    type: integer
                                    example: 1
                                    default: 0
                                  minutes:
                                    type: integer
                                    example: 23
                                    default: 0
                                  field_goals_made:
                                    type: integer
                                    example: 11
                                    default: 0
                                  field_goals_att:
                                    type: integer
                                    example: 20
                                    default: 0
                                  field_goals_pct:
                                    type: number
                                    example: 0.55
                                    default: 0
                                  two_points_made:
                                    type: integer
                                    example: 8
                                    default: 0
                                  two_points_att:
                                    type: integer
                                    example: 13
                                    default: 0
                                  two_points_pct:
                                    type: number
                                    example: 0.615
                                    default: 0
                                  three_points_made:
                                    type: integer
                                    example: 3
                                    default: 0
                                  three_points_att:
                                    type: integer
                                    example: 7
                                    default: 0
                                  three_points_pct:
                                    type: number
                                    example: 0.429
                                    default: 0
                                  blocked_att:
                                    type: integer
                                    example: 0
                                    default: 0
                                  free_throws_made:
                                    type: integer
                                    example: 1
                                    default: 0
                                  free_throws_att:
                                    type: integer
                                    example: 3
                                    default: 0
                                  free_throws_pct:
                                    type: number
                                    example: 0.333
                                    default: 0
                                  offensive_rebounds:
                                    type: integer
                                    example: 1
                                    default: 0
                                  defensive_rebounds:
                                    type: integer
                                    example: 9
                                    default: 0
                                  rebounds:
                                    type: integer
                                    example: 10
                                    default: 0
                                  assists:
                                    type: integer
                                    example: 3
                                    default: 0
                                  turnovers:
                                    type: integer
                                    example: 1
                                    default: 0
                                  assists_turnover_ratio:
                                    type: integer
                                    example: 3
                                    default: 0
                                  steals:
                                    type: integer
                                    example: 1
                                    default: 0
                                  blocks:
                                    type: integer
                                    example: 0
                                    default: 0
                                  personal_fouls:
                                    type: integer
                                    example: 1
                                    default: 0
                                  tech_fouls:
                                    type: integer
                                    example: 0
                                    default: 0
                                  points:
                                    type: integer
                                    example: 27
                                    default: 0
                                  flagrant_fouls:
                                    type: integer
                                    example: 0
                                    default: 0
                                  ejections:
                                    type: integer
                                    example: 0
                                    default: 0
                                  foulouts:
                                    type: integer
                                    example: 0
                                    default: 0
                                  tech_fouls_non_unsportsmanlike:
                                    type: integer
                                    example: 0
                                    default: 0
                                  true_shooting_att:
                                    type: number
                                    example: 21.32
                                    default: 0
                                  true_shooting_pct:
                                    type: number
                                    example: 0.633
                                    default: 0
                                  efficiency:
                                    type: integer
                                    example: 29
                                    default: 0
                                  field_goals_at_rim_made:
                                    type: integer
                                    example: 0
                                    default: 0
                                  field_goals_at_rim_att:
                                    type: integer
                                    example: 0
                                    default: 0
                                  field_goals_at_midrange_made:
                                    type: integer
                                    example: 1
                                    default: 0
                                  field_goals_at_midrange_att:
                                    type: integer
                                    example: 4
                                    default: 0
                                  awarded_points:
                                    type: integer
                                    example: 0
                                    default: 0
                                  coach_ejections:
                                    type: integer
                                    example: 0
                                    default: 0
                                  coach_tech_fouls:
                                    type: integer
                                    example: 0
                                    default: 0
                                  double_doubles:
                                    type: integer
                                    example: 1
                                    default: 0
                                  effective_fg_pct:
                                    type: number
                                    example: 0.625
                                    default: 0
                                  fast_break_att:
                                    type: integer
                                    example: 0
                                    default: 0
                                  fast_break_made:
                                    type: integer
                                    example: 0
                                    default: 0
                                  fast_break_pct:
                                    type: integer
                                    example: 0
                                    default: 0
                                  fast_break_pts:
                                    type: integer
                                    example: 0
                                    default: 0
                                  fouls_drawn:
                                    type: integer
                                    example: 3
                                    default: 0
                                  free_throw_points:
                                    type: integer
                                    example: 2
                                    default: 0
                                  minus:
                                    type: integer
                                    example: 0
                                    default: 0
                                  offensive_fouls:
                                    type: integer
                                    example: 0
                                    default: 0
                                  plus:
                                    type: integer
                                    example: 0
                                    default: 0
                                  points_in_paint:
                                    type: integer
                                    example: 10
                                    default: 0
                                  points_in_paint_att:
                                    type: integer
                                    example: 7
                                    default: 0
                                  points_in_paint_made:
                                    type: integer
                                    example: 5
                                    default: 0
                                  points_in_paint_pct:
                                    type: number
                                    example: 0.714
                                    default: 0
                                  points_off_turnovers:
                                    type: integer
                                    example: 0
                                    default: 0
                                  second_chance_att:
                                    type: integer
                                    example: 0
                                    default: 0
                                  second_chance_made:
                                    type: integer
                                    example: 0
                                    default: 0
                                  second_chance_pct:
                                    type: integer
                                    example: 0
                                    default: 0
                                  second_chance_pts:
                                    type: integer
                                    example: 2
                                    default: 0
                                  triple_doubles:
                                    type: integer
                                    example: 0
                                    default: 0
                                  winning_baskets:
                                    type: integer
                                    example: 0
                                    default: 0
                              average:
                                type: object
                                properties:
                                  minutes:
                                    type: integer
                                    example: 23
                                    default: 0
                                  points:
                                    type: integer
                                    example: 27
                                    default: 0
                                  off_rebounds:
                                    type: integer
                                    example: 1
                                    default: 0
                                  def_rebounds:
                                    type: integer
                                    example: 9
                                    default: 0
                                  rebounds:
                                    type: integer
                                    example: 10
                                    default: 0
                                  assists:
                                    type: integer
                                    example: 3
                                    default: 0
                                  steals:
                                    type: integer
                                    example: 1
                                    default: 0
                                  blocks:
                                    type: integer
                                    example: 0
                                    default: 0
                                  turnovers:
                                    type: integer
                                    example: 1
                                    default: 0
                                  personal_fouls:
                                    type: integer
                                    example: 1
                                    default: 0
                                  flagrant_fouls:
                                    type: integer
                                    example: 0
                                    default: 0
                                  blocked_att:
                                    type: integer
                                    example: 0
                                    default: 0
                                  field_goals_made:
                                    type: integer
                                    example: 11
                                    default: 0
                                  field_goals_att:
                                    type: integer
                                    example: 20
                                    default: 0
                                  three_points_made:
                                    type: integer
                                    example: 3
                                    default: 0
                                  three_points_att:
                                    type: integer
                                    example: 7
                                    default: 0
                                  free_throws_made:
                                    type: integer
                                    example: 1
                                    default: 0
                                  free_throws_att:
                                    type: integer
                                    example: 3
                                    default: 0
                                  two_points_made:
                                    type: integer
                                    example: 8
                                    default: 0
                                  two_points_att:
                                    type: integer
                                    example: 13
                                    default: 0
                                  efficiency:
                                    type: integer
                                    example: 29
                                    default: 0
                                  true_shooting_att:
                                    type: number
                                    example: 21.32
                                    default: 0
                                  fast_break_att:
                                    type: integer
                                    example: 0
                                    default: 0
                                  fast_break_made:
                                    type: integer
                                    example: 0
                                    default: 0
                                  fast_break_pts:
                                    type: integer
                                    example: 0
                                    default: 0
                                  fouls_drawn:
                                    type: integer
                                    example: 3
                                    default: 0
                                  offensive_fouls:
                                    type: integer
                                    example: 0
                                    default: 0
                                  points_in_paint:
                                    type: integer
                                    example: 10
                                    default: 0
                                  points_in_paint_att:
                                    type: integer
                                    example: 7
                                    default: 0
                                  points_in_paint_made:
                                    type: integer
                                    example: 5
                                    default: 0
                                  points_off_turnovers:
                                    type: integer
                                    example: 0
                                    default: 0
                                  second_chance_att:
                                    type: integer
                                    example: 0
                                    default: 0
                                  second_chance_made:
                                    type: integer
                                    example: 0
                                    default: 0
                                  second_chance_pts:
                                    type: integer
                                    example: 2
                                    default: 0
      parameters:
      - in: path
        name: access_level
        schema:
          type: string
          default: trial
          enum:
          - trial
          - production
        required: true
        description: The access level of your API key<br><br>`trial`, `production`
      - in: path
        name: language_code
        schema:
          type: string
          enum:
          - en
          default: en
        required: true
        description: 2-letter code for supported languages<br><br>`en` (English)
      - in: path
        name: season_year
        schema:
          type: string
          enum:
          - '2026'
          default: '2026'
        required: true
        description: Season year in `YYYY` format
      - in: path
        name: season_type
        schema:
          type: string
          default: REG
          enum:
          - PRE
          - REG
          - OOT
          - PST
        required: true
        description: Type of season<br><br>`PRE` (Pre-season), `REG` (Regular Season), `OOT` (One-on-One Tournament), `PST` (Post-season)
      - in: path
        name: format
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
        required: true
        description: Format returned<br><br>`json`, `xml`
      tags:
      - Seasons
  /{access_level}/v8/{language_code}/seasons/{season_year}/{season_type}/rankings.{format}:
    get:
      summary: Copy of Copy of Copy of Copy of Copy of New Endpoint
      description: This is your first endpoint! Edit this page to start documenting your API.
      operationId: get_{access_level}v8{language_code}seasons{season_year}{season_type}leaders.{format}-1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Result:
                  summary: Result
                  value:
                    league:
                      id: 59c24590-0adb-4b3d-80a8-10450f83f4a1
                      name: WNBA
                      alias: WNBA
                    season:
                      id: 73f9bbde-1a9a-4ae3-95d7-125df431bdda
                      year: 2022
                      type: REG
                    conferences:
                    - id: 092510cf-3285-48bb-b831-40ac3608ca36
                      name: EASTERN CONFERENCE
                      alias: EASTERN-W
                      teams:
                      - id: 3c409388-ab73-4c7f-953d-3a71062240f6
                        name: Sky
                        market: Chicago
                        sr_id: sr:team:35546
                        rank:
                          conference: 1
                          clinched: playoff_berth
                    - id: d95b23c8-dee5-4142-ac4a-2b4ab05beebc
                      name: WESTERN CONFERENCE
                      alias: WESTERN-W
                      teams:
                      - id: 0a5ad38d-2fe3-43ba-894b-1ba3d5042ea9
                        name: Sparks
                        market: Los Angeles
                        sr_id: sr:team:3447
                        rank:
                          conference: 6
                          clinched: eliminated
              schema:
                type: object
                properties:
                  league:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 59c24590-0adb-4b3d-80a8-10450f83f4a1
                      name:
                        type: string
                        example: WNBA
                      alias:
                        type: string
                        example: WNBA
                  season:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 73f9bbde-1a9a-4ae3-95d7-125df431bdda
                      year:
                        type: integer
                        example: 2022
                        default: 0
                      type:
                        type: string
                        example: REG
                  conferences:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 092510cf-3285-48bb-b831-40ac3608ca36
                        name:
                          type: string
                          example: EASTERN CONFERENCE
                        alias:
                          type: string
                          example: EASTERN-W
                        teams:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 3c409388-ab73-4c7f-953d-3a71062240f6
                              name:
                                type: string
                                example: Sky
                              market:
                                type: string
                                example: Chicago
                              sr_id:
                                type: string
                                example: sr:team:35546
                              rank:
                                type: object
                                properties:
                                  conference:
                                    type: integer
                                    example: 1
                                    default: 0
                                  clinched:
                                    type: string
                                    example: playoff_berth
      parameters:
      - in: path
        name: access_level
        schema:
          type: string
          default: trial
          enum:
          - trial
          - production
        required: true
        description: The access level of your API key<br><br>`trial`, `production`
      - in: path
        name: language_code
        schema:
          type: string
          enum:
          - en
          default: en
        required: true
        description: 2-letter code for supported languages<br><br>`en` (English)
      - in: path
        name: season_year
        schema:
          type: string
          default: '2026'
          enum:
          - '2025'
          - '2026'
        required: true
        description: Season year in `YYYY` format
      - in: path
        name: season_type
        schema:
          type: string
          enum:
          - REG
          default: REG
        required: true
        description: Type of season<br><br>`REG` (Regular Season)
      - in: path
        name: format
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
        required: true
        description: Format returned<br><br>`json`, `xml`
      tags:
      - Seasons
  /{access_level}/v8/{language}/seasons/{season_year}/{season_type}/teams/{team_id}/statistics.{format}:
    get:
      description: ''
      operationId: get_{access_level}v8{language}seasons{season_year}{season_type}teams{team_id}statistics.{format}
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                Result:
                  summary: Result
                  value:
                    id: 67c22115-2385-458f-8632-a67a025fef55
                    name: Lunar Owls
                    season:
                      id: c86ab7c9-5408-44e6-af06-c22636262927
                      year: 2025
                      type: REG
                    own_record:
                      total:
                        games_played: 1
                        minutes: 73
                        field_goals_made: 32
                        field_goals_att: 63
                        field_goals_pct: 0.508
                        two_points_made: 25
                        two_points_att: 43
                        two_points_pct: 0.581
                        three_points_made: 7
                        three_points_att: 20
                        three_points_pct: 0.35
                        blocked_att: 2
                        free_throws_made: 7
                        free_throws_att: 12
                        free_throws_pct: 0.583
                        offensive_rebounds: 3
                        defensive_rebounds: 28
                        rebounds: 31
                        assists: 9
                        turnovers: 8
                        assists_turnover_ratio: 1.13
                        steals: 6
                        blocks: 2
                        personal_fouls: 14
                        tech_fouls: 0
                        points: 84
                        fast_break_pts: 0
                        flagrant_fouls: 0
                        points_off_turnovers: 0
                        second_chance_pts: 0
                        ejections: 0
                        foulouts: 0
                        efficiency: 88
                        points_in_paint: 16
                        team_offensive_rebounds: 0
                        team_defensive_rebounds: 2
                        team_rebounds: 2
                        team_turnovers: 0
                        total_rebounds: 33
                        total_turnovers: 8
                        true_shooting_att: 68.28
                        true_shooting_pct: 0.615
                        field_goals_at_rim_made: 0
                        field_goals_at_rim_att: 1
                        field_goals_at_rim_pct: 0
                        field_goals_at_midrange_made: 11
                        field_goals_at_midrange_att: 20
                        field_goals_at_midrange_pct: 0.55
                        awarded_points: 0
                        bench_points: 18
                        coach_ejections: 0
                        coach_tech_fouls: 0
                        defensive_assists: 0
                        defensive_rating: 0
                        effective_fg_pct: 0.563
                        fast_break_att: 0
                        fast_break_made: 0
                        fast_break_pct: 0
                        fouls_drawn: 12
                        free_throw_points: 13
                        net_rating: 0
                        offensive_fouls: 1
                        offensive_rating: 0
                        opponent_possessions: 0
                        points_against: 0
                        points_in_paint_att: 15
                        points_in_paint_made: 8
                        points_in_paint_pct: 0.533
                        possessions: 0
                        second_chance_att: 0
                        second_chance_made: 0
                        second_chance_pct: 0
                        team_fouls: 0
                        team_tech_fouls: 0
                        technical_other: 0
                        total_fouls: 14
                        winning_baskets: 1
                      average:
                        fast_break_pts: 0
                        points_off_turnovers: 0
                        second_chance_pts: 0
                        minutes: 73
                        points: 84
                        off_rebounds: 3
                        def_rebounds: 28
                        rebounds: 31
                        assists: 9
                        steals: 6
                        blocks: 2
                        turnovers: 8
                        personal_fouls: 14
                        flagrant_fouls: 0
                        blocked_att: 2
                        field_goals_made: 32
                        field_goals_att: 63
                        three_points_made: 7
                        three_points_att: 20
                        free_throws_made: 7
                        free_throws_att: 12
                        two_points_made: 25
                        two_points_att: 43
                        points_in_paint: 16
                        efficiency: 88
                        true_shooting_att: 68.28
                        points_in_paint_att: 15
                        points_in_paint_made: 8
                        bench_points: 18
                        fouls_drawn: 12
                        offensive_fouls: 1
                        fast_break_att: 0
                        fast_break_made: 0
                        second_chance_att: 0
                        second_chance_made: 0
                    opponents:
                      total:
                        games_played: 1
                        minutes: 73
                        field_goals_made: 30
                        field_goals_att: 68
                        field_goals_pct: 0.441
                        two_points_made: 24
                        two_points_att: 47
                        two_points_pct: 0.511
                        three_points_made: 6
                        three_points_att: 21
                        three_points_pct: 0.286
                        blocked_att: 2
                        free_throws_made: 8
                        free_throws_att: 10
                        free_throws_pct: 0.8
                        offensive_rebounds: 8
                        defensive_rebounds: 30
                        rebounds: 38
                        assists: 13
                        turnovers: 11
                        assists_turnover_ratio: 1.18
                        steals: 5
                        blocks: 2
                        personal_fouls: 15
                        tech_fouls: 0
                        points: 80
                        fast_break_pts: 0
                        flagrant_fouls: 0
                        points_off_turnovers: 11
                        second_chance_pts: 6
                        ejections: 0
                        foulouts: 0
                        efficiency: 87
                        points_in_paint: 19
                        team_offensive_rebounds: 2
                        team_defensive_rebounds: 3
                        team_rebounds: 5
                        team_turnovers: 0
                        total_rebounds: 43
                        total_turnovers: 11
                        true_shooting_att: 72.4
                        true_shooting_pct: 0.552
                        field_goals_at_rim_made: 1
                        field_goals_at_rim_att: 1
                        field_goals_at_rim_pct: 1
                        field_goals_at_midrange_made: 2
                        field_goals_at_midrange_att: 10
                        field_goals_at_midrange_pct: 0.2
                        awarded_points: 0
                        bench_points: 34
                        coach_ejections: 0
                        coach_tech_fouls: 0
                        defensive_assists: 0
                        defensive_rating: 0
                        effective_fg_pct: 0.485
                        fast_break_att: 0
                        fast_break_made: 0
                        fast_break_pct: 0
                        fouls_drawn: 11
                        free_throw_points: 14
                        net_rating: 0
                        offensive_fouls: 1
                        offensive_rating: 0
                        opponent_possessions: 0
                        points_against: 0
                        points_in_paint_att: 16
                        points_in_paint_made: 9
                        points_in_paint_pct: 0.563
                        possessions: 0
                        second_chance_att: 0
                        second_chance_made: 0
                        second_chance_pct: 0
                        team_fouls: 0
                        team_tech_fouls: 0
                        technical_other: 0
                        total_fouls: 15
                        winning_baskets: 0
                      average:
                        fast_break_pts: 0
                        points_off_turnovers: 11
                        second_chance_pts: 6
                        minutes: 73
                        points: 80
                        off_rebounds: 8
                        def_rebounds: 30
                        rebounds: 38
                        assists: 13
                        steals: 5
                        blocks: 2
                        turnovers: 11
                        personal_fouls: 15
                        flagrant_fouls: 0
                        blocked_att: 2
                        field_goals_made: 30
                        field_goals_att: 68
                        three_points_made: 6
                        three_points_att: 21
                        free_throws_made: 8
                        free_throws_att: 10
                        two_points_made: 24
                        two_points_att: 47
                        points_in_paint: 19
                        efficiency: 87
                        true_shooting_att: 72.4
                        points_in_paint_att: 16
                        points_in_paint_made: 9
                        bench_points: 34
                        fouls_drawn: 11
                        offensive_fouls: 1
                        fast_break_att: 0
                        fast_break_made: 0
                        second_chance_att: 0
                        second_chance_made: 0
                    players:
                    - id: 022be94a-377e-4c32-93ec-926beff44f46
                      full_name: Cameron Brink
                      first_name: Cameron
                      last_name: Brink
                      position: F
                      primary_position: NA
                      jersey_number: '22'
                      total:
                        games_played: 0
                        games_started: 0
                        minutes: 0
                        field_goals_made: 0
                        field_goals_att: 0
                        field_goals_pct: 0
                        two_points_made: 0
                        two_points_att: 0
                        two_points_pct: 0
                        three_points_made: 0
                        three_points_att: 0
                        three_points_pct: 0
                        blocked_att: 0
                        free_throws_made: 0
                        free_throws_att: 0
                        free_throws_pct: 0
                        offensive_rebounds: 0
                        defensive_rebounds: 0
                        rebounds: 0
                        assists: 0
                        turnovers: 0
                        assists_turnover_ratio: 0
                        steals: 0
                        blocks: 0
                        personal_fouls: 0
                        tech_fouls: 0
                        points: 0
                        flagrant_fouls: 0
                        ejections: 0
                        foulouts: 0
                        tech_fouls_non_unsportsmanlike: 0
                        true_shooting_att: 0
                        true_shooting_pct: 0
                        efficiency: 0
                        field_goals_at_rim_made: 0
                        field_goals_at_rim_att: 0
                        field_goals_at_rim_pct: 0
                        field_goals_at_midrange_made: 0
                        field_goals_at_midrange_att: 0
                        field_goals_at_midrange_pct: 0
                        usage_pct: 0
                        awarded_points: 0
                        coach_ejections: 0
                        coach_tech_fouls: 0
                        double_doubles: 0
                        effective_fg_pct: 0
                        fast_break_att: 0
                        fast_break_made: 0
                        fast_break_pct: 0
                        fast_break_pts: 0
                        fouls_drawn: 0
                        free_throw_points: 0
                        minus: 0
                        offensive_fouls: 0
                        plus: 0
                        points_in_paint: 0
                        points_in_paint_att: 0
                        points_in_paint_made: 0
                        points_in_paint_pct: 0
                        points_off_turnovers: 0
                        second_chance_att: 0
                        second_chance_made: 0
                        second_chance_pct: 0
                        second_chance_pts: 0
                        triple_doubles: 0
                        winning_baskets: 0
                      average:
                        minutes: 0
                        points: 0
                        off_rebounds: 0
                        def_rebounds: 0
                        rebounds: 0
                        assists: 0
                        steals: 0
                        blocks: 0
                        turnovers: 0
                        personal_fouls: 0
                        flagrant_fouls: 0
                        blocked_att: 0
                        field_goals_made: 0
                        field_goals_att: 0
                        three_points_made: 0
                        three_points_att: 0
                        free_throws_made: 0
                        free_throws_att: 0
                        two_points_made: 0
                        two_points_att: 0
                        efficiency: 0
                        true_shooting_att: 0
                        fast_break_att: 0
                        fast_break_made: 0
                        fast_break_pts: 0
                        fouls_drawn: 0
                        offensive_fouls: 0
                        points_in_paint: 0
                        points_in_paint_att: 0
                        points_in_paint_made: 0
                        points_off_turnovers: 0
                        second_chance_att: 0
                        second_chance_made: 0
                        second_chance_pts: 0
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 67c22115-2385-458f-8632-a67a025fef55
                  name:
                    type: string
                    example: Lunar Owls
                  season:
                    type: object
                    properties:
                      id:
                        type: string
                        example: c86ab7c9-5408-44e6-af06-c22636262927
                      year:
                        type: integer
                        example: 2025
                        default: 0
                      type:
                        type: string
                        example: REG
                  own_record:
                    type: object
                    properties:
                      total:
                        type: object
                        properties:
                          games_played:
                            type: integer
                            example: 1
                            default: 0
                          minutes:
                            type: integer
                            example: 73
                            default: 0
                          field_goals_made:
                            type: integer
                            example: 32
                            default: 0
                          field_goals_att:
                            type: integer
                            example: 63
                            default: 0
                          field_goals_pct:
                            type: number
                            example: 0.508
                            default: 0
                          two_points_made:
                            type: integer
                            example: 25
                            default: 0
                          two_points_att:
                            type: integer
                            example: 43
                            default: 0
                          two_points_pct:
                            type: number
                            example: 0.581
                            default: 0
                          three_points_made:
                            type: integer
                            example: 7
                            default: 0
                          three_points_att:
                            type: integer
                            example: 20
                            default: 0
                          three_points_pct:
                            type: number
                            example: 0.35
                            default: 0
                          blocked_att:
                            type: integer
                            example: 2
                            default: 0
                          free_throws_made:
                            type: integer
                            example: 7
                            default: 0
                          free_throws_att:
                            type: integer
                            example: 12
                            default: 0
                          free_throws_pct:
                            type: number
                            example: 0.583
                            default: 0
                          offensive_rebounds:
                            type: integer
                            example: 3
                            default: 0
                          defensive_rebounds:
                            type: integer
                            example: 28
                            default: 0
                          rebounds:
                            type: integer
                            example: 31
                            default: 0
                          assists:
                            type: integer
                            example: 9
                            default: 0
                          turnovers:
                            type: integer
                            example: 8
                            default: 0
                          assists_turnover_ratio:
                            type: number
                            example: 1.13
                            default: 0
                          steals:
                            type: integer
                            example: 6
                            default: 0
                          blocks:
                            type: integer
                            example: 2
                            default: 0
                          personal_fouls:
                            type: integer
                            example: 14
                            default: 0
                          tech_fouls:
                            type: integer
                            example: 0
                            default: 0
                          points:
                            type: integer
                            example: 84
                            default: 0
                          fast_break_pts:
                            type: integer
                            example: 0
                            default: 0
                          flagrant_fouls:
                            type: integer
                            example: 0
                            default: 0
                          points_off_turnovers:
                            type: integer
                            example: 0
                            default: 0
                          second_chance_pts:
                            type: integer
                            example: 0
                            default: 0
                          ejections:
                            type: integer
                            example: 0
                            default: 0
                          foulouts:
                            type: integer
                            example: 0
                            default: 0
                          efficiency:
                            type: integer
                            example: 88
                            default: 0
                          points_in_paint:
                            type: integer
                            example: 16
                            default: 0
                          team_offensive_rebounds:
                            type: integer
                            example: 0
                            default: 0
                          team_defensive_rebounds:
                            type: integer
                            example: 2
                            default: 0
                          team_rebounds:
                            type: integer
                            example: 2
                            default: 0
                          team_turnovers:
                            type: integer
                            example: 0
                            default: 0
                          total_rebounds:
                            type: integer
                            example: 33
                            default: 0
                          total_turnovers:
                            type: integer
                            example: 8
                            default: 0
                          true_shooting_att:
                            type: number
                            example: 68.28
                            default: 0
                          true_shooting_pct:
                            type: number
                            example: 0.615
                            default: 0
                          field_goals_at_rim_made:
                            type: integer
                            example: 0
                            default: 0
                          field_goals_at_rim_att:
                            type: integer
                            example: 1
                            default: 0
                          field_goals_at_rim_pct:
                            type: integer
                            example: 0
                            default: 0
                          field_goals_at_midrange_made:
                            type: integer
                            example: 11
                            default: 0
                          field_goals_at_midrange_att:
                            type: integer
                            example: 20
                            default: 0
                          field_goals_at_midrange_pct:
                            type: number
                            example: 0.55
                            default: 0
                          awarded_points:
                            type: integer
                            example: 0
                            default: 0
                          bench_points:
                            type: integer
                            example: 18
                            default: 0
                          coach_ejections:
                            type: integer
                            example: 0
                            default: 0
                          coach_tech_fouls:
                            type: integer
                            example: 0
                            default: 0
                          defensive_assists:
                            type: integer
                            example: 0
                            default: 0
                          defensive_rating:
                            type: integer
                            example: 0
                            default: 0
                          effective_fg_pct:
                            type: number
                            example: 0.563
                            default: 0
                          fast_break_att:
                            type: integer
                            example: 0
                            default: 0
                          fast_break_made:
                            type: integer
                            example: 0
                            default: 0
                          fast_break_pct:
                            type: integer
                            example: 0
                            default: 0
                          fouls_drawn:
                            type: integer
                            example: 12
                            default: 0
                          free_throw_points:
                            type: integer
                            example: 13
                            default: 0
                          net_rating:
                            type: integer
                            example: 0
                            default: 0
                          offensive_fouls:
                            type: integer
                            example: 1
                            default: 0
                          offensive_rating:
                            type: integer
                            example: 0
                            default: 0
                          opponent_possessions:
                            type: integer
                            example: 0
                            default: 0
                          points_against:
                            type: integer
                            example: 0
                            default: 0
                          points_in_paint_att:
                            type: integer
                            example: 15
                            default: 0
                          points_in_paint_made:
                            type: integer
                            example: 8
                            default: 0
                          points_in_paint_pct:
                            type: number
                            example: 0.533
                            default: 0
                          possessions:
                            type: integer
                            example: 0
                            default: 0
                          second_chance_att:
                            type: integer
                            example: 0
                            default: 0
                          second_chance_made:
                            type: integer
                            example: 0
                            default: 0
                          second_chance_pct:
                            type: integer
                            example: 0
                            default: 0
                          team_fouls:
                            type: integer
                            example: 0
                            default: 0
                          team_tech_fouls:
                            type: integer
                            example: 0
                            default: 0
                          technical_other:
                            type: integer
                            example: 0
                            default: 0
                          total_fouls:
                            type: integer
                            example: 14
                            default: 0
                          winning_baskets:
                            type: integer
                            example: 1
                            default: 0
                      average:
                        type: object
                        properties:
                          fast_break_pts:
                            type: integer
                            example: 0
                            default: 0
                          points_off_turnovers:
                            type: integer
                            example: 0
                            default: 0
                          second_chance_pts:
                            type: integer
                            example: 0
                            default: 0
                          minutes:
                            type: integer
                            example: 73
                            default: 0
                          points:
                            type: integer
                            example: 84
                            default: 0
                          off_rebounds:
                            type: integer
                            example: 3
                            default: 0
                          def_rebounds:
                            type: integer
                            example: 28
                            default: 0
                          rebounds:
                            type: integer
                            example: 31
                            default: 0
                          assists:
                            type: integer
                            example: 9
                            default: 0
                          steals:
                            type: integer
                            example: 6
                            default: 0
                          blocks:
                            type: integer
                            example: 2
                            default: 0
                          turnovers:
                            type: integer
                            example: 8
                            default: 0
                          personal_fouls:
                            type: integer
                            example: 14
                            default: 0
                          flagrant_fouls:
                            type: integer
                            example: 0
                            default: 0
                          blocked_att:
                            type: integer
                            example: 2
                            default: 0
                          field_goals_made:
                            type: integer
                            example: 32
                            default: 0
                          field_goals_att:
                            type: integer
                            example: 63
                            default: 0
                          three_points_made:
                            type: integer
                            example: 7
                            default: 0
                          three_points_att:
                            type: integer
                            example: 20
                            default: 0
                          free_throws_made:
                            type: integer
                            example: 7
                            default: 0
                          free_throws_att:
                            type: integer
                            example: 12
                            default: 0
                          two_points_made:
                            type: integer
                            example: 25
                            default: 0
                          two_points_att:
                            type: integer
                            example: 43
                            default: 0
                          points_in_paint:
                            type: integer
                            example: 16
                            default: 0
                          efficiency:
                            type: integer
                            example: 88
                            default: 0
                          true_shooting_att:
                            type: number
                            example: 68.28
                            default: 0
                          points_in_paint_att:
                            type: integer
                            example: 15
                            default: 0
                          points_in_paint_made:
                            type: integer
                            example: 8
                            default: 0
                          bench_points:
                            type: integer
                            example: 18
                            default: 0
                          fouls_drawn:
                            type: integer
                            example: 12
                            default: 0
                          offensive_fouls:
                            type: integer
                            example: 1
                            default: 0
                          fast_break_att:
                            type: integer
                            example: 0
                            default: 0
                          fast_break_made:
                            type: integer
                            example: 0
                            default: 0
                          second_chance_att:
                            type: integer
                            example: 0
                            default: 0
                          second_chance_made:
                            type: integer
                            example: 0
                            default: 0
                  opponents:
                    type: object
                    properties:
                      total:
                        type: object
                        properties:
                          games_played:
                            type: integer
                            example: 1
                            default: 0
                          minutes:
                            type: integer
                            example: 73
                            default: 0
                          field_goals_made:
                            type: integer
                            example: 30
                            default: 0
                          field_goals_att:
                            type: integer
                            example: 68
                            default: 0
                          field_goals_pct:
                            type: number
                            example: 0.441
                            default: 0
                          two_points_made:
                            type: integer
                            example: 24
                            default: 0
                          two_points_att:
                            type: integer
                            example: 47
                            default: 0
                          two_points_pct:
                            type: number
                            example: 0.511
                            default: 0
                          three_points_made:
                            type: integer
                            example: 6
                            default: 0
                          three_points_att:
                            type: integer
                            example: 21
                            default: 0
                          three_points_pct:
                            type: number
                            example: 0.286
                            default: 0
                          blocked_att:
                            type: integer
                            example: 2
                            default: 0
                          free_throws_made:
                            type: integer
                            example: 8
                            default: 0
                          free_throws_att:
                            type: integer
                            example: 10
                            default: 0
                          free_throws_pct:
                            type: number
                            example: 0.8
                            default: 0
                          offensive_rebounds:
                            type: integer
                            example: 8
                            default: 0
                          defensive_rebounds:
                            type: integer
                            example: 30
                            default: 0
                          rebounds:
                            type: integer
                            example: 38
                            default: 0
                          assists:
                            type: integer
                            example: 13
                            default: 0
                          turnovers:
                            type: integer
                            example: 11
                            default: 0
                          assists_turnover_ratio:
                            type: number
                            example: 1.18
                            default: 0
                          steals:
                            type: integer
                            example: 5
                            default: 0
                          blocks:
                            type: integer
                            example: 2
                            default: 0
                          personal_fouls:
                            type: integer
                            example: 15
                            default: 0
                          tech_fouls:
                            type: integer
                            example: 0
                            default: 0
                          points:
                            type: integer
                            example: 80
                            default: 0
                          fast_break_pts:
                            type: integer
                            example: 0
                            default: 0
                          flagrant_fouls:
                            type: integer
                            example: 0
                            default: 0
                          points_off_turnovers:
                            type: integer
                            example: 11
                            default: 0
                          second_chance_pts:
                            type: integer
                            example: 6
                            default: 0
                          ejections:
                            type: integer
                            example: 0
                            default: 0
                          foulouts:
                            type: integer
                            example: 0
                            default: 0
                          efficiency:
                            type: integer
                            example: 87
                            default: 0
                          points_in_paint:
                            type: integer
                            example: 19
                            default: 0
                          team_offensive_rebounds:
                            type: integer
                            example: 2
                            default: 0
                          team_defensive_rebounds:
                            type: integer
                            example: 3
                            default: 0
                          team_rebounds:
                            type: integer
                            example: 5
                            default: 0
                          team_turnovers:
                            type: integer
                            example: 0
                            default: 0
                          total_rebounds:
                            type: integer
                            example: 43
                            default: 0
                          total_turnovers:
                            type: integer
                            example: 11
                            default: 0
                          true_shooting_att:
                            type: number
                            example: 72.4
                            default: 0
                          true_shooting_pct:
                            type: number
                            example: 0.552
                            default: 0
                          field_goals_at_rim_made:
                            type: integer
                            example: 1
                            default: 0
                          field_goals_at_rim_att:
                            type: integer
                            example: 1
                            default: 0
                          field_goals_at_rim_pct:
                            type: integer
                            example: 1
                            default: 0
                          field_goals_at_midrange_made:
                            type: integer
                            example: 2
                            default: 0
                          field_goals_at_midrange_att:
                            type: integer
                            example: 10
                            default: 0
                          field_goals_at_midrange_pct:
                            type: number
                            example: 0.2
                            default: 0
                          awarded_points:
                            type: integer
                            example: 0
                            default: 0
                          bench_points:
                            type: integer
                            example: 34
                            default: 0
                          coach_ejections:
                            type: integer
                            example: 0
                            default: 0
                          coach_tech_fouls:
                            type: integer
                            example: 0
                            default: 0
                          defensive_assists:
                            type: integer
                            example: 0
                            default: 0
                          defensive_rating:
                            type: integer
                            example: 0
                            default: 0
                          effective_fg_pct:
                            type: number
                            example: 0.485
                            default: 0
                          fast_break_att:
                            type: integer
                            example: 0
                            default: 0
                          fast_break_made:
                            type: integer
                            example: 0
                            default: 0
                          fast_break_pct:
                            type: integer
                            example: 0
                            default: 0
                          fouls_drawn:
                            type: integer
                            example: 11
                            default: 0
                          free_throw_points:
                            type: integer
                            example: 14
                            default: 0
                          net_rating:
                            type: integer
                            example: 0
                            default: 0
                          offensive_fouls:
                            type: integer
                            example: 1
                            default: 0
                          offensive_rating:
                            type: integer
                            example: 0
                            default: 0
                          opponent_possessions:
                            type: integer
                            example: 0
                            default: 0
                          points_against:
                            type: integer
                            example: 0
                            default: 0
                          points_in_paint_att:
                            type: integer
                            example: 16
                            default: 0
                          points_in_paint_made:
                            type: integer
                            example: 9
                            default: 0
                          points_in_paint_pct:
                            type: number
                            example: 0.563
                            default: 0
                          possessions:
                            type: integer
                            example: 0
                            default: 0
                          second_chance_att:
                            type: integer
                            example: 0
                            default: 0
                          second_chance_made:
                            type: integer
                            example: 0
                            default: 0
                          second_chance_pct:
                            type: integer
                            example: 0
                            default: 0
                          team_fouls:
                            type: integer
                            example: 0
                            default: 0
                          team_tech_fouls:
                            type: integer
                            example: 0
                            default: 0
                          technical_other:
                            type: integer
                            example: 0
                            default: 0
                          total_fouls:
                            type: integer
                            example: 15
                            default: 0
                          winning_baskets:
                            type: integer
                            example: 0
                            default: 0
                      average:
                        type: object
                        properties:
                          fast_break_pts:
                            type: integer
                            example: 0
                            default: 0
                          points_off_turnovers:
                            type: integer
                            example: 11
                            default: 0
                          second_chance_pts:
                            type: integer
                            example: 6
                            default: 0
                          minutes:
                            type: integer
                            example: 73
                            default: 0
                          points:
                            type: integer
                            example: 80
                            default: 0
                          off_rebounds:
                            type: integer
                            example: 8
                            default: 0
                          def_rebounds:
                            type: integer
                            example: 30
                            default: 0
                          rebounds:
                            type: integer
                            example: 38
                            default: 0
                          assists:
                            type: integer
                            example: 13
                            default: 0
                          steals:
                            type: integer
                            example: 5
                            default: 0
                          blocks:
                            type: integer
                            example: 2
                            default: 0
                          turnovers:
                            type: integer
                            example: 11
                            default: 0
                          personal_fouls:
                            type: integer
                            example: 15
                            default: 0
                          flagrant_fouls:
                            type: integer
                            example: 0
                            default: 0
                          blocked_att:
                            type: integer
                            example: 2
                            default: 0
                          field_goals_made:
                            type: integer
                            example: 30
                            default: 0
                          field_goals_att:
                            type: integer
                            example: 68
                            default: 0
                          three_points_made:
                            type: integer
                            example: 6
                            default: 0
                          three_points_att:
                            type: integer
                            example: 21
                            default: 0
                          free_throws_made:
                            type: integer
                            example: 8
                            default: 0
                          free_throws_att:
                            type: integer
                            example: 10
                            default: 0
                          two_points_made:
                            type: integer
                            example: 24
                            default: 0
                          two_points_att:
                            type: integer
                            example: 47
                            default: 0
                          points_in_paint:
                            type: integer
                            example: 19
                            default: 0
                          efficiency:
                            type: integer
                            example: 87
                            default: 0
                          true_shooting_att:
                            type: number
                            example: 72.4
                            default: 0
                          points_in_paint_att:
                            type: integer
                            example: 16
                            default: 0
                          points_in_paint_made:
                            type: integer
                            example: 9
                            default: 0
                          bench_points:
                            type: integer
                            example: 34
                            default: 0
                          fouls_drawn:
                            type: integer
                            example: 11
                            default: 0
                          offensive_fouls:
                            type: integer
                            example: 1
                            default: 0
                          fast_break_att:
                            type: integer
                            example: 0
                            default: 0
                          fast_break_made:
                            type: integer
                            example: 0
                            default: 0
                          second_chance_att:
                            type: integer
                            example: 0
                            default: 0
                          second_chance_made:
                            type: integer
                            example: 0
                            default: 0
                  players:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 022be94a-377e-4c32-93ec-926beff44f46
                        full_name:
                          type: string
                          example: Cameron Brink
                        first_name:
                          type: string
                          example: Cameron
                        last_name:
                          type: string
                          example: Brink
                        position:
                          type: string
                          example: F
                        primary_position:
                          type: string
                          example: NA
                        jersey_number:
                          type: string
                          example: '22'
                        total:
                          type: object
                          properties:
                            games_played:
                              type: integer
                              example: 0
                              default: 0
                            games_started:
                              type: integer
                              example: 0
                              default: 0
                            minutes:
                              type: integer
                              example: 0
                              default: 0
                            field_goals_made:
                              type: integer
                              example: 0
                              default: 0
                            field_goals_att:
                              type: integer
                              example: 0
                              default: 0
                            field_goals_pct:
                              type: integer
                              example: 0
                              default: 0
                            two_points_made:
                              type: integer
                              example: 0
                              default: 0
                            two_points_att:
                              type: integer
                              example: 0
                              default: 0
                            two_points_pct:
                              type: integer
                              example: 0
                              default: 0
                            three_points_made:
                              type: integer
                              example: 0
                              default: 0
                            three_points_att:
                              type: integer
                              example: 0
                              default: 0
                            three_points_pct:
                              type: integer
                              example: 0
                              default: 0
                            blocked_att:
                              type: integer
                              example: 0
                              default: 0
                            free_throws_made:
                              type: integer
                              example: 0
                              default: 0
                            free_throws_att:
                              type: integer
                              example: 0
                              default: 0
                            free_throws_pct:
                              type: integer
                              example: 0
                              default: 0
                            offensive_rebounds:
                              type: integer
                              example: 0
                              default: 0
                            defensive_rebounds:
                              type: integer
                              example: 0
                              default: 0
                            rebounds:
                              type: integer
                              example: 0
                              default: 0
                            assists:
                              type: integer
                              example: 0
                              default: 0
                            turnovers:
                              type: integer
                              example: 0
                              default: 0
                            assists_turnover_ratio:
                              type: integer
                              example: 0
                              default: 0
                            steals:
                              type: integer
                              example: 0
                              default: 0
                            blocks:
                              type: integer
                              example: 0
                              default: 0
                            personal_fouls:
                              type: integer
                              example: 0
                              default: 0
                            tech_fouls:
                              type: integer
                              example: 0
                              default: 0
                            points:
                              type: integer
                              example: 0
                              default: 0
                            flagrant_fouls:
                              type: integer
                              example: 0
                              default: 0
                            ejections:
                              type: integer
                              example: 0
                              default: 0
                            foulouts:
                              type: integer
                              example: 0
                              default: 0
                            tech_fouls_non_unsportsmanlike:
                              type: integer
                              example: 0
                              default: 0
                            true_shooting_att:
                              type: integer
                              example: 0
                              default: 0
                            true_shooting_pct:
                              type: integer
                              example: 0
                              default: 0
                            efficiency:
                              type: integer
                              example: 0
                              default: 0
                            field_goals_at_rim_made:
                              type: integer
                              example: 0
                              default: 0
                            field_goals_at_rim_att:
                              type: integer
                              example: 0
                              default: 0
                            field_goals_at_rim_pct:
                              type: integer
                              example: 0
                              default: 0
                            field_goals_at_midrange_made:
                              type: integer
                              example: 0
                              default: 0
                            field_goals_at_midrange_att:
                              type: integer
                              example: 0
                              default: 0
                            field_goals_at_midrange_pct:
                              type: integer
                              example: 0
                              default: 0
                            usage_pct:
                              type: integer
                              example: 0
                              default: 0
                            awarded_points:
                              type: integer
                              example: 0
                              default: 0
                            coach_ejections:
                              type: integer
                              example: 0
                              default: 0
                            coach_tech_fouls:
                              type: integer
                              example: 0
                              default: 0
                            double_doubles:
                              type: integer
                              example: 0
                              default: 0
                            effective_fg_pct:
                              type: integer
                              example: 0
                              default: 0
                            fast_break_att:
                              type: integer
                              example: 0
                              default: 0
                            fast_break_made:
                              type: integer
                              example: 0
                              default: 0
                            fast_break_pct:
                              type: integer
                              example: 0
                              default: 0
                            fast_break_pts:
                              type: integer
                              example: 0
[...]
