openapi: 3.0.0
info:
  title: Unrivaled Games Players API
  version: v8
  description: Official real-time data API for the Unrivaled professional women's 3x3 basketball league, operated by Sportradar as the league's Official Data Provider. Feeds cover schedules, standings, rosters, real-time scores, play-by-play, injuries, transfers, and season statistics, in JSON or XML. Assembled by API Evangelist on 2026-07-21 from the per-endpoint OpenAPI definitions embedded in the 23 Unrivaled reference pages at https://developer.sportradar.com/basketball/reference/unrivaled-overview; operation content is preserved verbatim from the source definitions.
  contact:
    url: https://developer.sportradar.com/basketball/reference/unrivaled-overview
  x-provenance:
    generated: '2026-07-21'
    method: searched
    source: https://developer.sportradar.com/basketball/reference/unrivaled-overview
servers:
- url: https://api.sportradar.com/unrivaled/
security:
- sec0: []
tags:
- name: Players
paths:
  /{access_level}/v8/{language}/players/{player_id}/profile.{format}:
    get:
      description: '**Unrivaled Player Profile** provides player biographical information and seasonal statistics.'
      operationId: get_{access_level}v8{language}players{player_id}profile.{format}
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                Result:
                  summary: Result
                  value:
                    id: fd8d4b11-3d70-450a-b65c-016bec29cc9d
                    status: ACT
                    full_name: Napheesa Collier
                    first_name: Napheesa
                    last_name: Collier
                    abbr_name: N.Collier
                    height: 73
                    weight: 180
                    position: F
                    primary_position: NA
                    jersey_number: '24'
                    college: UConn
                    high_school: Incarnate Word Academy (MO)
                    birth_place: Jefferson City, MO, USA
                    birthdate: '1996-09-23'
                    updated: '2025-11-13T22:12:21+00:00'
                    league:
                      id: 844ee10a-00c8-4dc1-9c17-52598de2ef47
                      name: Unrivaled
                      alias: UNRIVALED
                    team:
                      id: 67c22115-2385-458f-8632-a67a025fef55
                      name: Lunar Owls
                      alias: LNR
                    references:
                    - source_id: 8e281d64-a268-445f-9569-bc812d2730d5
                      scope: basketball
                      id_type: sport_profile
                    - source_id: 21f994d2-1cc9-4d83-b278-abc3aaf4f63d
                      scope: WNBA
                      id_type: league_profile
                    - source_id: f95a0950-d7e8-44bd-bbae-b2e85844f1e4
                      scope: NCAAW
                      id_type: league_profile
                    seasons:
                    - id: c86ab7c9-5408-44e6-af06-c22636262927
                      year: 2025
                      type: REG
                      teams:
                      - id: 67c22115-2385-458f-8632-a67a025fef55
                        name: Lunar Owls
                        alias: LNR
                        total:
                          games_played: 1
                          games_started: 1
                          minutes: 23
                          field_goals_made: 11
                          field_goals_att: 20
                          field_goals_pct: 0.55
                          two_points_made: 8
                          two_points_att: 13
                          two_points_pct: 0.615
                          three_points_made: 3
                          three_points_att: 7
                          three_points_pct: 0.429
                          blocked_att: 0
                          free_throws_made: 1
                          free_throws_att: 3
                          free_throws_pct: 0.333
                          offensive_rebounds: 1
                          defensive_rebounds: 9
                          rebounds: 10
                          assists: 3
                          turnovers: 1
                          assists_turnover_ratio: 3
                          steals: 1
                          blocks: 0
                          personal_fouls: 1
                          tech_fouls: 0
                          points: 27
                          flagrant_fouls: 0
                          ejections: 0
                          foulouts: 0
                          tech_fouls_non_unsportsmanlike: 0
                          true_shooting_att: 21.32
                          true_shooting_pct: 0.633
                          efficiency: 29
                          field_goals_at_rim_made: 0
                          field_goals_at_rim_att: 0
                          field_goals_at_rim_pct: 0
                          field_goals_at_midrange_made: 1
                          field_goals_at_midrange_att: 4
                          field_goals_at_midrange_pct: 0.25
                          usage_pct: 18.57
                          awarded_points: 0
                          coach_ejections: 0
                          coach_tech_fouls: 0
                          double_doubles: 1
                          effective_fg_pct: 0.625
                          fast_break_att: 0
                          fast_break_made: 0
                          fast_break_pct: 0
                          fast_break_pts: 0
                          fouls_drawn: 3
                          free_throw_points: 2
                          minus: 0
                          offensive_fouls: 0
                          plus: 0
                          points_in_paint: 10
                          points_in_paint_att: 7
                          points_in_paint_made: 5
                          points_in_paint_pct: 0.714
                          points_off_turnovers: 0
                          second_chance_att: 0
                          second_chance_made: 0
                          second_chance_pct: 0
                          second_chance_pts: 2
                          triple_doubles: 0
                          winning_baskets: 0
                        average:
                          minutes: 23
                          points: 27
                          off_rebounds: 1
                          def_rebounds: 9
                          rebounds: 10
                          assists: 3
                          steals: 1
                          blocks: 0
                          turnovers: 1
                          personal_fouls: 1
                          flagrant_fouls: 0
                          blocked_att: 0
                          field_goals_made: 11
                          field_goals_att: 20
                          three_points_made: 3
                          three_points_att: 7
                          free_throws_made: 1
                          free_throws_att: 3
                          two_points_made: 8
                          two_points_att: 13
                          efficiency: 29
                          true_shooting_att: 21.32
                          fast_break_att: 0
                          fast_break_made: 0
                          fast_break_pts: 0
                          fouls_drawn: 3
                          offensive_fouls: 0
                          points_in_paint: 10
                          points_in_paint_att: 7
                          points_in_paint_made: 5
                          points_off_turnovers: 0
                          second_chance_att: 0
                          second_chance_made: 0
                          second_chance_pts: 2
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: fd8d4b11-3d70-450a-b65c-016bec29cc9d
                  status:
                    type: string
                    example: ACT
                  full_name:
                    type: string
                    example: Napheesa Collier
                  first_name:
                    type: string
                    example: Napheesa
                  last_name:
                    type: string
                    example: Collier
                  abbr_name:
                    type: string
                    example: N.Collier
                  height:
                    type: integer
                    example: 73
                    default: 0
                  weight:
                    type: integer
                    example: 180
                    default: 0
                  position:
                    type: string
                    example: F
                  primary_position:
                    type: string
                    example: NA
                  jersey_number:
                    type: string
                    example: '24'
                  college:
                    type: string
                    example: UConn
                  high_school:
                    type: string
                    example: Incarnate Word Academy (MO)
                  birth_place:
                    type: string
                    example: Jefferson City, MO, USA
                  birthdate:
                    type: string
                    example: '1996-09-23'
                  updated:
                    type: string
                    example: '2025-11-13T22:12:21+00:00'
                  league:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 844ee10a-00c8-4dc1-9c17-52598de2ef47
                      name:
                        type: string
                        example: Unrivaled
                      alias:
                        type: string
                        example: UNRIVALED
                  team:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 67c22115-2385-458f-8632-a67a025fef55
                      name:
                        type: string
                        example: Lunar Owls
                      alias:
                        type: string
                        example: LNR
                  references:
                    type: array
                    items:
                      type: object
                      properties:
                        source_id:
                          type: string
                          example: 8e281d64-a268-445f-9569-bc812d2730d5
                        scope:
                          type: string
                          example: basketball
                        id_type:
                          type: string
                          example: sport_profile
                  seasons:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: c86ab7c9-5408-44e6-af06-c22636262927
                        year:
                          type: integer
                          example: 2025
                          default: 0
                        type:
                          type: string
                          example: REG
                        teams:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 67c22115-2385-458f-8632-a67a025fef55
                              name:
                                type: string
                                example: Lunar Owls
                              alias:
                                type: string
                                example: LNR
                              total:
                                type: object
                                properties:
                                  games_played:
                                    type: integer
                                    example: 1
                                    default: 0
                                  games_started:
                                    type: integer
                                    example: 1
                                    default: 0
                                  minutes:
                                    type: integer
                                    example: 23
                                    default: 0
                                  field_goals_made:
                                    type: integer
                                    example: 11
                                    default: 0
                                  field_goals_att:
                                    type: integer
                                    example: 20
                                    default: 0
                                  field_goals_pct:
                                    type: number
                                    example: 0.55
                                    default: 0
                                  two_points_made:
                                    type: integer
                                    example: 8
                                    default: 0
                                  two_points_att:
                                    type: integer
                                    example: 13
                                    default: 0
                                  two_points_pct:
                                    type: number
                                    example: 0.615
                                    default: 0
                                  three_points_made:
                                    type: integer
                                    example: 3
                                    default: 0
                                  three_points_att:
                                    type: integer
                                    example: 7
                                    default: 0
                                  three_points_pct:
                                    type: number
                                    example: 0.429
                                    default: 0
                                  blocked_att:
                                    type: integer
                                    example: 0
                                    default: 0
                                  free_throws_made:
                                    type: integer
                                    example: 1
                                    default: 0
                                  free_throws_att:
                                    type: integer
                                    example: 3
                                    default: 0
                                  free_throws_pct:
                                    type: number
                                    example: 0.333
                                    default: 0
                                  offensive_rebounds:
                                    type: integer
                                    example: 1
                                    default: 0
                                  defensive_rebounds:
                                    type: integer
                                    example: 9
                                    default: 0
                                  rebounds:
                                    type: integer
                                    example: 10
                                    default: 0
                                  assists:
                                    type: integer
                                    example: 3
                                    default: 0
                                  turnovers:
                                    type: integer
                                    example: 1
                                    default: 0
                                  assists_turnover_ratio:
                                    type: integer
                                    example: 3
                                    default: 0
                                  steals:
                                    type: integer
                                    example: 1
                                    default: 0
                                  blocks:
                                    type: integer
                                    example: 0
                                    default: 0
                                  personal_fouls:
                                    type: integer
                                    example: 1
                                    default: 0
                                  tech_fouls:
                                    type: integer
                                    example: 0
                                    default: 0
                                  points:
                                    type: integer
                                    example: 27
                                    default: 0
                                  flagrant_fouls:
                                    type: integer
                                    example: 0
                                    default: 0
                                  ejections:
                                    type: integer
                                    example: 0
                                    default: 0
                                  foulouts:
                                    type: integer
                                    example: 0
                                    default: 0
                                  tech_fouls_non_unsportsmanlike:
                                    type: integer
                                    example: 0
                                    default: 0
                                  true_shooting_att:
                                    type: number
                                    example: 21.32
                                    default: 0
                                  true_shooting_pct:
                                    type: number
                                    example: 0.633
                                    default: 0
                                  efficiency:
                                    type: integer
                                    example: 29
                                    default: 0
                                  field_goals_at_rim_made:
                                    type: integer
                                    example: 0
                                    default: 0
                                  field_goals_at_rim_att:
                                    type: integer
                                    example: 0
                                    default: 0
                                  field_goals_at_rim_pct:
                                    type: integer
                                    example: 0
                                    default: 0
                                  field_goals_at_midrange_made:
                                    type: integer
                                    example: 1
                                    default: 0
                                  field_goals_at_midrange_att:
                                    type: integer
                                    example: 4
                                    default: 0
                                  field_goals_at_midrange_pct:
                                    type: number
                                    example: 0.25
                                    default: 0
                                  usage_pct:
                                    type: number
                                    example: 18.57
                                    default: 0
                                  awarded_points:
                                    type: integer
                                    example: 0
                                    default: 0
                                  coach_ejections:
                                    type: integer
                                    example: 0
                                    default: 0
                                  coach_tech_fouls:
                                    type: integer
                                    example: 0
                                    default: 0
                                  double_doubles:
                                    type: integer
                                    example: 1
                                    default: 0
                                  effective_fg_pct:
                                    type: number
                                    example: 0.625
                                    default: 0
                                  fast_break_att:
                                    type: integer
                                    example: 0
                                    default: 0
                                  fast_break_made:
                                    type: integer
                                    example: 0
                                    default: 0
                                  fast_break_pct:
                                    type: integer
                                    example: 0
                                    default: 0
                                  fast_break_pts:
                                    type: integer
                                    example: 0
                                    default: 0
                                  fouls_drawn:
                                    type: integer
                                    example: 3
                                    default: 0
                                  free_throw_points:
                                    type: integer
                                    example: 2
                                    default: 0
                                  minus:
                                    type: integer
                                    example: 0
                                    default: 0
                                  offensive_fouls:
                                    type: integer
                                    example: 0
                                    default: 0
                                  plus:
                                    type: integer
                                    example: 0
                                    default: 0
                                  points_in_paint:
                                    type: integer
                                    example: 10
                                    default: 0
                                  points_in_paint_att:
                                    type: integer
                                    example: 7
                                    default: 0
                                  points_in_paint_made:
                                    type: integer
                                    example: 5
                                    default: 0
                                  points_in_paint_pct:
                                    type: number
                                    example: 0.714
                                    default: 0
                                  points_off_turnovers:
                                    type: integer
                                    example: 0
                                    default: 0
                                  second_chance_att:
                                    type: integer
                                    example: 0
                                    default: 0
                                  second_chance_made:
                                    type: integer
                                    example: 0
                                    default: 0
                                  second_chance_pct:
                                    type: integer
                                    example: 0
                                    default: 0
                                  second_chance_pts:
                                    type: integer
                                    example: 2
                                    default: 0
                                  triple_doubles:
                                    type: integer
                                    example: 0
                                    default: 0
                                  winning_baskets:
                                    type: integer
                                    example: 0
                                    default: 0
                              average:
                                type: object
                                properties:
                                  minutes:
                                    type: integer
                                    example: 23
                                    default: 0
                                  points:
                                    type: integer
                                    example: 27
                                    default: 0
                                  off_rebounds:
                                    type: integer
                                    example: 1
                                    default: 0
                                  def_rebounds:
                                    type: integer
                                    example: 9
                                    default: 0
                                  rebounds:
                                    type: integer
                                    example: 10
                                    default: 0
                                  assists:
                                    type: integer
                                    example: 3
                                    default: 0
                                  steals:
                                    type: integer
                                    example: 1
                                    default: 0
                                  blocks:
                                    type: integer
                                    example: 0
                                    default: 0
                                  turnovers:
                                    type: integer
                                    example: 1
                                    default: 0
                                  personal_fouls:
                                    type: integer
                                    example: 1
                                    default: 0
                                  flagrant_fouls:
                                    type: integer
                                    example: 0
                                    default: 0
                                  blocked_att:
                                    type: integer
                                    example: 0
                                    default: 0
                                  field_goals_made:
                                    type: integer
                                    example: 11
                                    default: 0
                                  field_goals_att:
                                    type: integer
                                    example: 20
                                    default: 0
                                  three_points_made:
                                    type: integer
                                    example: 3
                                    default: 0
                                  three_points_att:
                                    type: integer
                                    example: 7
                                    default: 0
                                  free_throws_made:
                                    type: integer
                                    example: 1
                                    default: 0
                                  free_throws_att:
                                    type: integer
                                    example: 3
                                    default: 0
                                  two_points_made:
                                    type: integer
                                    example: 8
                                    default: 0
                                  two_points_att:
                                    type: integer
                                    example: 13
                                    default: 0
                                  efficiency:
                                    type: integer
                                    example: 29
                                    default: 0
                                  true_shooting_att:
                                    type: number
                                    example: 21.32
                                    default: 0
                                  fast_break_att:
                                    type: integer
                                    example: 0
                                    default: 0
                                  fast_break_made:
                                    type: integer
                                    example: 0
                                    default: 0
                                  fast_break_pts:
                                    type: integer
                                    example: 0
                                    default: 0
                                  fouls_drawn:
                                    type: integer
                                    example: 3
                                    default: 0
                                  offensive_fouls:
                                    type: integer
                                    example: 0
                                    default: 0
                                  points_in_paint:
                                    type: integer
                                    example: 10
                                    default: 0
                                  points_in_paint_att:
                                    type: integer
                                    example: 7
                                    default: 0
                                  points_in_paint_made:
                                    type: integer
                                    example: 5
                                    default: 0
                                  points_off_turnovers:
                                    type: integer
                                    example: 0
                                    default: 0
                                  second_chance_att:
                                    type: integer
                                    example: 0
                                    default: 0
                                  second_chance_made:
                                    type: integer
                                    example: 0
                                    default: 0
                                  second_chance_pts:
                                    type: integer
                                    example: 2
                                    default: 0
      parameters:
      - in: path
        name: access_level
        schema:
          type: string
          enum:
          - trial
          - production
          default: trial
        required: true
        description: The access level of your API key<br><br>`trial`, `production`
      - in: path
        name: language
        schema:
          type: string
          enum:
          - en
          default: en
        required: true
        description: 2-letter code for supported languages<br><br>`en` (English)
      - in: path
        name: player_id
        schema:
          type: string
          default: fd8d4b11-3d70-450a-b65c-016bec29cc9d
        required: true
        description: Unique Id of a player<br><br>**Example:** `fd8d4b11-3d70-450a-b65c-016bec29cc9d`
      - in: path
        name: format
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
        required: true
        description: Format returned<br><br>`json`, `xml`
      summary: Player Profile
      tags:
      - Players
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: x-api-key
