openapi: 3.0.0
info:
  title: Unrivaled Games API
  version: v8
  description: Official real-time data API for the Unrivaled professional women's 3x3 basketball league, operated by Sportradar as the league's Official Data Provider. Feeds cover schedules, standings, rosters, real-time scores, play-by-play, injuries, transfers, and season statistics, in JSON or XML. Assembled by API Evangelist on 2026-07-21 from the per-endpoint OpenAPI definitions embedded in the 23 Unrivaled reference pages at https://developer.sportradar.com/basketball/reference/unrivaled-overview; operation content is preserved verbatim from the source definitions.
  contact:
    url: https://developer.sportradar.com/basketball/reference/unrivaled-overview
  x-provenance:
    generated: '2026-07-21'
    method: searched
    source: https://developer.sportradar.com/basketball/reference/unrivaled-overview
servers:
- url: https://api.sportradar.com/unrivaled/
security:
- sec0: []
tags:
- name: Games
paths:
  /{access_level}/v8/{language_code}/games/{year}/{month}/{day}/schedule.{format}:
    get:
      responses:
        '200':
          description: ''
      parameters:
      - in: path
        name: access_level
        schema:
          type: string
          enum:
          - trial
          - production
          default: trial
        required: true
        description: The access level of your API key<br><br>`trial`, `production`
      - in: path
        name: language_code
        schema:
          type: string
          enum:
          - en
          default: en
        required: true
        description: 2-letter code for supported languages<br><br>`en` (English)
      - in: path
        name: year
        schema:
          type: string
          default: '2026'
          enum:
          - '2025'
          - '2026'
        required: true
        description: Year in `YYYY` format
      - in: path
        name: month
        schema:
          type: string
          enum:
          - '01'
          - '02'
          - '03'
          - '04'
          - '05'
          - '06'
          - '07'
          - 08
          - 09
          - '10'
          - '11'
          - '12'
          default: '01'
        required: true
        description: Month in `MM` format
      - in: path
        name: day
        schema:
          type: integer
          default: '01'
        required: true
        description: Date in `DD` format
      - in: path
        name: format
        schema:
          type: string
          enum:
          - json
          - xml
        required: true
        description: Format returned<br><br>`json`, `xml`
      operationId: get_access-level-v8-language-code-games-year-month-day-schedule-format
      summary: Daily Schedule
      description: '**Unrivaled Daily Schedule** provides date, time, location, and other event details for every game taking place in the league-defined day.'
      tags:
      - Games
  /{access_level}/v8/{language_code}/games/{game_id}/boxscore.{format}:
    get:
      summary: Game Boxscore
      description: '**Unrivaled Game Boxscore** provides top-level team scores by quarter, along with full statistics for each teams’ leaders in points, rebounds, and assists.'
      operationId: get_{access_level}v8{language_code}league{year}{month}{day}injuries.{format}-1-1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Result:
                  summary: Result
                  value:
                    id: 838316ea-ab7b-4581-a1dd-74229d1970d5
                    status: closed
                    coverage: full
                    scheduled: '2025-01-18T00:00:00+00:00'
                    lead_changes: 7
                    times_tied: 6
                    clock: '3:26'
                    quarter: 4
                    possession_arrow: 0780b080-347b-407b-b8d6-fa109ec23908
                    track_on_court: true
                    entry_mode: LDE
                    clock_decimal: '3:26'
                    broadcasts:
                    - type: TV
                      locale: National
                      network: TNT
                      channel: '245'
                    time_zones:
                      venue: US/Eastern
                      home: US/Eastern
                      away: US/Eastern
                    season:
                      id: c86ab7c9-5408-44e6-af06-c22636262927
                      year: 2025
                      type: REG
                      name: Regular Season
                    home:
                      name: Mist
                      alias: MST
                      id: 0780b080-347b-407b-b8d6-fa109ec23908
                      points: 80
                      remaining_timeouts: 0
                      scoring:
                      - type: quarter
                        number: 1
                        sequence: 1
                        points: 20
                      - type: quarter
                        number: 2
                        sequence: 2
                        points: 26
                      - type: quarter
                        number: 3
                        sequence: 3
                        points: 27
                      - type: elam
                        number: 4
                        sequence: 4
                        points: 7
                      leaders:
                        points:
                        - full_name: Jewell Loyd
                          jersey_number: '24'
                          id: 2387d221-be55-495a-b2b7-cddbce9addcc
                          position: G
                          primary_position: NA
                          statistics:
                            minutes: '17:05'
                            field_goals_made: 10
                            field_goals_att: 21
                            field_goals_pct: 47.6
                            three_points_made: 4
                            three_points_att: 9
                            three_points_pct: 44.4
                            two_points_made: 6
                            two_points_att: 12
                            two_points_pct: 50
                            blocked_att: 0
                            free_throws_made: 3
                            free_throws_att: 4
                            free_throws_pct: 75
                            offensive_rebounds: 3
                            defensive_rebounds: 3
                            rebounds: 6
                            assists: 2
                            turnovers: 3
                            steals: 0
                            blocks: 0
                            assists_turnover_ratio: 0.67
                            personal_fouls: 2
                            tech_fouls: 0
                            flagrant_fouls: 0
                            pls_min: -5
                            points: 29
                            tech_fouls_non_unsportsmanlike: 0
                            double_double: false
                            triple_double: false
                            effective_fg_pct: 57.1
                            efficiency: 25
                            efficiency_game_score: 18.5
                            fouls_drawn: 5
                            offensive_fouls: 0
                            points_in_paint: 9
                            points_in_paint_att: 5
                            points_in_paint_made: 4
                            points_in_paint_pct: 80
                            points_off_turnovers: 7
                            true_shooting_att: 22.76
                            true_shooting_pct: 63.7
                            coach_ejections: 0
                            coach_tech_fouls: 0
                            second_chance_pts: 4
                            second_chance_pct: 0
                        rebounds:
                        - full_name: Breanna Stewart
                          jersey_number: '30'
                          id: a00515fd-bdd9-44d1-83a5-597a99316c54
                          position: F
                          primary_position: NA
                          statistics:
                            minutes: '13:06'
                            field_goals_made: 2
                            field_goals_att: 10
                            field_goals_pct: 20
                            three_points_made: 0
                            three_points_att: 4
                            three_points_pct: 0
                            two_points_made: 2
                            two_points_att: 6
                            two_points_pct: 33.3
                            blocked_att: 0
                            free_throws_made: 1
                            free_throws_att: 2
                            free_throws_pct: 50
                            offensive_rebounds: 1
                            defensive_rebounds: 12
                            rebounds: 13
                            assists: 3
                            turnovers: 1
                            steals: 1
                            blocks: 0
                            assists_turnover_ratio: 3
                            personal_fouls: 3
                            tech_fouls: 0
                            flagrant_fouls: 0
                            pls_min: -11
                            points: 6
                            tech_fouls_non_unsportsmanlike: 0
                            double_double: false
                            triple_double: false
                            effective_fg_pct: 20
                            efficiency: 13
                            efficiency_game_score: 4.6
                            fouls_drawn: 3
                            offensive_fouls: 1
                            points_in_paint: 2
                            points_in_paint_att: 4
                            points_in_paint_made: 1
                            points_in_paint_pct: 25
                            points_off_turnovers: 0
                            true_shooting_att: 10.88
                            true_shooting_pct: 27.6
                            coach_ejections: 0
                            coach_tech_fouls: 0
                            second_chance_pts: 0
                            second_chance_pct: 0
                        assists:
                        - full_name: DiJonai Carrington
                          jersey_number: '21'
                          id: 47169cbe-5640-460b-a840-7f438a124330
                          position: G-F
                          primary_position: NA
                          statistics:
                            minutes: '9:34'
                            field_goals_made: 3
                            field_goals_att: 6
                            field_goals_pct: 50
                            three_points_made: 0
                            three_points_att: 2
                            three_points_pct: 0
                            two_points_made: 3
                            two_points_att: 4
                            two_points_pct: 75
                            blocked_att: 0
                            free_throws_made: 1
                            free_throws_att: 1
                            free_throws_pct: 100
                            offensive_rebounds: 0
                            defensive_rebounds: 6
                            rebounds: 6
                            assists: 3
                            turnovers: 3
                            steals: 2
                            blocks: 2
                            assists_turnover_ratio: 1
                            personal_fouls: 3
                            tech_fouls: 0
                            flagrant_fouls: 0
                            pls_min: -4
                            points: 8
                            tech_fouls_non_unsportsmanlike: 0
                            double_double: false
                            triple_double: false
                            effective_fg_pct: 50
                            efficiency: 13
                            efficiency_game_score: 8.1
                            fouls_drawn: 1
                            offensive_fouls: 0
                            points_in_paint: 4
                            points_in_paint_att: 2
                            points_in_paint_made: 2
                            points_in_paint_pct: 100
                            points_off_turnovers: 2
                            true_shooting_att: 6.44
                            true_shooting_pct: 62.1
                            coach_ejections: 0
                            coach_tech_fouls: 0
                            second_chance_pts: 0
                            second_chance_pct: 0
                        - full_name: Breanna Stewart
                          jersey_number: '30'
                          id: a00515fd-bdd9-44d1-83a5-597a99316c54
                          position: F
                          primary_position: NA
                          statistics:
                            minutes: '13:06'
                            field_goals_made: 2
                            field_goals_att: 10
                            field_goals_pct: 20
                            three_points_made: 0
                            three_points_att: 4
                            three_points_pct: 0
                            two_points_made: 2
                            two_points_att: 6
                            two_points_pct: 33.3
                            blocked_att: 0
                            free_throws_made: 1
                            free_throws_att: 2
                            free_throws_pct: 50
                            offensive_rebounds: 1
                            defensive_rebounds: 12
                            rebounds: 13
                            assists: 3
                            turnovers: 1
                            steals: 1
                            blocks: 0
                            assists_turnover_ratio: 3
                            personal_fouls: 3
                            tech_fouls: 0
                            flagrant_fouls: 0
                            pls_min: -11
                            points: 6
                            tech_fouls_non_unsportsmanlike: 0
                            double_double: false
                            triple_double: false
                            effective_fg_pct: 20
                            efficiency: 13
                            efficiency_game_score: 4.6
                            fouls_drawn: 3
                            offensive_fouls: 1
                            points_in_paint: 2
                            points_in_paint_att: 4
                            points_in_paint_made: 1
                            points_in_paint_pct: 25
                            points_off_turnovers: 0
                            true_shooting_att: 10.88
                            true_shooting_pct: 27.6
                            coach_ejections: 0
                            coach_tech_fouls: 0
                            second_chance_pts: 0
                            second_chance_pct: 0
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 838316ea-ab7b-4581-a1dd-74229d1970d5
                  status:
                    type: string
                    example: closed
                  coverage:
                    type: string
                    example: full
                  scheduled:
                    type: string
                    example: '2025-01-18T00:00:00+00:00'
                  lead_changes:
                    type: integer
                    example: 7
                    default: 0
                  times_tied:
                    type: integer
                    example: 6
                    default: 0
                  clock:
                    type: string
                    example: '3:26'
                  quarter:
                    type: integer
                    example: 4
                    default: 0
                  possession_arrow:
                    type: string
                    example: 0780b080-347b-407b-b8d6-fa109ec23908
                  track_on_court:
                    type: boolean
                    example: true
                    default: true
                  entry_mode:
                    type: string
                    example: LDE
                  clock_decimal:
                    type: string
                    example: '3:26'
                  broadcasts:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: TV
                        locale:
                          type: string
                          example: National
                        network:
                          type: string
                          example: TNT
                        channel:
                          type: string
                          example: '245'
                  time_zones:
                    type: object
                    properties:
                      venue:
                        type: string
                        example: US/Eastern
                      home:
                        type: string
                        example: US/Eastern
                      away:
                        type: string
                        example: US/Eastern
                  season:
                    type: object
                    properties:
                      id:
                        type: string
                        example: c86ab7c9-5408-44e6-af06-c22636262927
                      year:
                        type: integer
                        example: 2025
                        default: 0
                      type:
                        type: string
                        example: REG
                      name:
                        type: string
                        example: Regular Season
                  home:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Mist
                      alias:
                        type: string
                        example: MST
                      id:
                        type: string
                        example: 0780b080-347b-407b-b8d6-fa109ec23908
                      points:
                        type: integer
                        example: 80
                        default: 0
                      remaining_timeouts:
                        type: integer
                        example: 0
                        default: 0
                      scoring:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              example: quarter
                            number:
                              type: integer
                              example: 1
                              default: 0
                            sequence:
                              type: integer
                              example: 1
                              default: 0
                            points:
                              type: integer
                              example: 20
                              default: 0
                      leaders:
                        type: object
                        properties:
                          points:
                            type: array
                            items:
                              type: object
                              properties:
                                full_name:
                                  type: string
                                  example: Jewell Loyd
                                jersey_number:
                                  type: string
                                  example: '24'
                                id:
                                  type: string
                                  example: 2387d221-be55-495a-b2b7-cddbce9addcc
                                position:
                                  type: string
                                  example: G
                                primary_position:
                                  type: string
                                  example: NA
                                statistics:
                                  type: object
                                  properties:
                                    minutes:
                                      type: string
                                      example: '17:05'
                                    field_goals_made:
                                      type: integer
                                      example: 10
                                      default: 0
                                    field_goals_att:
                                      type: integer
                                      example: 21
                                      default: 0
                                    field_goals_pct:
                                      type: number
                                      example: 47.6
                                      default: 0
                                    three_points_made:
                                      type: integer
                                      example: 4
                                      default: 0
                                    three_points_att:
                                      type: integer
                                      example: 9
                                      default: 0
                                    three_points_pct:
                                      type: number
                                      example: 44.4
                                      default: 0
                                    two_points_made:
                                      type: integer
                                      example: 6
                                      default: 0
                                    two_points_att:
                                      type: integer
                                      example: 12
                                      default: 0
                                    two_points_pct:
                                      type: integer
                                      example: 50
                                      default: 0
                                    blocked_att:
                                      type: integer
                                      example: 0
                                      default: 0
                                    free_throws_made:
                                      type: integer
                                      example: 3
                                      default: 0
                                    free_throws_att:
                                      type: integer
                                      example: 4
                                      default: 0
                                    free_throws_pct:
                                      type: integer
                                      example: 75
                                      default: 0
                                    offensive_rebounds:
                                      type: integer
                                      example: 3
                                      default: 0
                                    defensive_rebounds:
                                      type: integer
                                      example: 3
                                      default: 0
                                    rebounds:
                                      type: integer
                                      example: 6
                                      default: 0
                                    assists:
                                      type: integer
                                      example: 2
                                      default: 0
                                    turnovers:
                                      type: integer
                                      example: 3
                                      default: 0
                                    steals:
                                      type: integer
                                      example: 0
                                      default: 0
                                    blocks:
                                      type: integer
                                      example: 0
                                      default: 0
                                    assists_turnover_ratio:
                                      type: number
                                      example: 0.67
                                      default: 0
                                    personal_fouls:
                                      type: integer
                                      example: 2
                                      default: 0
                                    tech_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    flagrant_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    pls_min:
                                      type: integer
                                      example: -5
                                      default: 0
                                    points:
                                      type: integer
                                      example: 29
                                      default: 0
                                    tech_fouls_non_unsportsmanlike:
                                      type: integer
                                      example: 0
                                      default: 0
                                    double_double:
                                      type: boolean
                                      example: false
                                      default: true
                                    triple_double:
                                      type: boolean
                                      example: false
                                      default: true
                                    effective_fg_pct:
                                      type: number
                                      example: 57.1
                                      default: 0
                                    efficiency:
                                      type: integer
                                      example: 25
                                      default: 0
                                    efficiency_game_score:
                                      type: number
                                      example: 18.5
                                      default: 0
                                    fouls_drawn:
                                      type: integer
                                      example: 5
                                      default: 0
                                    offensive_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    points_in_paint:
                                      type: integer
                                      example: 9
                                      default: 0
                                    points_in_paint_att:
                                      type: integer
                                      example: 5
                                      default: 0
                                    points_in_paint_made:
                                      type: integer
                                      example: 4
                                      default: 0
                                    points_in_paint_pct:
                                      type: integer
                                      example: 80
                                      default: 0
                                    points_off_turnovers:
                                      type: integer
                                      example: 7
                                      default: 0
                                    true_shooting_att:
                                      type: number
                                      example: 22.76
                                      default: 0
                                    true_shooting_pct:
                                      type: number
                                      example: 63.7
                                      default: 0
                                    coach_ejections:
                                      type: integer
                                      example: 0
                                      default: 0
                                    coach_tech_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    second_chance_pts:
                                      type: integer
                                      example: 4
                                      default: 0
                                    second_chance_pct:
                                      type: integer
                                      example: 0
                                      default: 0
                          rebounds:
                            type: array
                            items:
                              type: object
                              properties:
                                full_name:
                                  type: string
                                  example: Breanna Stewart
                                jersey_number:
                                  type: string
                                  example: '30'
                                id:
                                  type: string
                                  example: a00515fd-bdd9-44d1-83a5-597a99316c54
                                position:
                                  type: string
                                  example: F
                                primary_position:
                                  type: string
                                  example: NA
                                statistics:
                                  type: object
                                  properties:
                                    minutes:
                                      type: string
                                      example: '13:06'
                                    field_goals_made:
                                      type: integer
                                      example: 2
                                      default: 0
                                    field_goals_att:
                                      type: integer
                                      example: 10
                                      default: 0
                                    field_goals_pct:
                                      type: integer
                                      example: 20
                                      default: 0
                                    three_points_made:
                                      type: integer
                                      example: 0
                                      default: 0
                                    three_points_att:
                                      type: integer
                                      example: 4
                                      default: 0
                                    three_points_pct:
                                      type: integer
                                      example: 0
                                      default: 0
                                    two_points_made:
                                      type: integer
                                      example: 2
                                      default: 0
                                    two_points_att:
                                      type: integer
                                      example: 6
                                      default: 0
                                    two_points_pct:
                                      type: number
                                      example: 33.3
                                      default: 0
                                    blocked_att:
                                      type: integer
                                      example: 0
                                      default: 0
                                    free_throws_made:
                                      type: integer
                                      example: 1
                                      default: 0
                                    free_throws_att:
                                      type: integer
                                      example: 2
                                      default: 0
                                    free_throws_pct:
                                      type: integer
                                      example: 50
                                      default: 0
                                    offensive_rebounds:
                                      type: integer
                                      example: 1
                                      default: 0
                                    defensive_rebounds:
                                      type: integer
                                      example: 12
                                      default: 0
                                    rebounds:
                                      type: integer
                                      example: 13
                                      default: 0
                                    assists:
                                      type: integer
                                      example: 3
                                      default: 0
                                    turnovers:
                                      type: integer
                                      example: 1
                                      default: 0
                                    steals:
                                      type: integer
                                      example: 1
                                      default: 0
                                    blocks:
                                      type: integer
                                      example: 0
                                      default: 0
                                    assists_turnover_ratio:
                                      type: integer
                                      example: 3
                                      default: 0
                                    personal_fouls:
                                      type: integer
                                      example: 3
                                      default: 0
                                    tech_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    flagrant_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    pls_min:
                                      type: integer
                                      example: -11
                                      default: 0
                                    points:
                                      type: integer
                                      example: 6
                                      default: 0
                                    tech_fouls_non_unsportsmanlike:
                                      type: integer
                                      example: 0
                                      default: 0
                                    double_double:
                                      type: boolean
                                      example: false
                                      default: true
                                    triple_double:
                                      type: boolean
                                      example: false
                                      default: true
                                    effective_fg_pct:
                                      type: integer
                                      example: 20
                                      default: 0
                                    efficiency:
                                      type: integer
                                      example: 13
                                      default: 0
                                    efficiency_game_score:
                                      type: number
                                      example: 4.6
                                      default: 0
                                    fouls_drawn:
                                      type: integer
                                      example: 3
                                      default: 0
                                    offensive_fouls:
                                      type: integer
                                      example: 1
                                      default: 0
                                    points_in_paint:
                                      type: integer
                                      example: 2
                                      default: 0
                                    points_in_paint_att:
                                      type: integer
                                      example: 4
                                      default: 0
                                    points_in_paint_made:
                                      type: integer
                                      example: 1
                                      default: 0
                                    points_in_paint_pct:
                                      type: integer
                                      example: 25
                                      default: 0
                                    points_off_turnovers:
                                      type: integer
                                      example: 0
                                      default: 0
                                    true_shooting_att:
                                      type: number
                                      example: 10.88
                                      default: 0
                                    true_shooting_pct:
                                      type: number
                                      example: 27.6
                                      default: 0
                                    coach_ejections:
                                      type: integer
                                      example: 0
                                      default: 0
                                    coach_tech_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    second_chance_pts:
                                      type: integer
                                      example: 0
                                      default: 0
                                    second_chance_pct:
                                      type: integer
                                      example: 0
                                      default: 0
                          assists:
                            type: array
                            items:
                              type: object
                              properties:
                                full_name:
                                  type: string
                                  example: DiJonai Carrington
                                jersey_number:
                                  type: string
                                  example: '21'
                                id:
                                  type: string
                                  example: 47169cbe-5640-460b-a840-7f438a124330
                                position:
                                  type: string
                                  example: G-F
                                primary_position:
                                  type: string
                                  example: NA
                                statistics:
                                  type: object
                                  properties:
                                    minutes:
                                      type: string
                                      example: '9:34'
                                    field_goals_made:
                                      type: integer
                                      example: 3
                                      default: 0
                                    field_goals_att:
                                      type: integer
                                      example: 6
                                      default: 0
                                    field_goals_pct:
                                      type: integer
                                      example: 50
                                      default: 0
                                    three_points_made:
                                      type: integer
                                      example: 0
                                      default: 0
                                    three_points_att:
                                      type: integer
                                      example: 2
                                      default: 0
                                    three_points_pct:
                                      type: integer
                                      example: 0
                                      default: 0
                                    two_points_made:
                                      type: integer
                                      example: 3
                                      default: 0
                                    two_points_att:
                                      type: integer
                                      example: 4
                                      default: 0
                                    two_points_pct:
                                      type: integer
                                      example: 75
                                      default: 0
                                    blocked_att:
                                      type: integer
                                      example: 0
                                      default: 0
                                    free_throws_made:
                                      type: integer
                                      example: 1
                                      default: 0
                                    free_throws_att:
                                      type: integer
                                      example: 1
                                      default: 0
                                    free_throws_pct:
                                      type: integer
                                      example: 100
                                      default: 0
                                    offensive_rebounds:
                                      type: integer
                                      example: 0
                                      default: 0
                                    defensive_rebounds:
                                      type: integer
                                      example: 6
                                      default: 0
                                    rebounds:
                                      type: integer
                                      example: 6
                                      default: 0
                                    assists:
                                      type: integer
                                      example: 3
                                      default: 0
                                    turnovers:
                                      type: integer
                                      example: 3
                                      default: 0
                                    steals:
                                      type: integer
                                      example: 2
                                      default: 0
                                    blocks:
                                      type: integer
                                      example: 2
                                      default: 0
                                    assists_turnover_ratio:
                                      type: integer
                                      example: 1
                                      default: 0
                                    personal_fouls:
                                      type: integer
                                      example: 3
                                      default: 0
                                    tech_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    flagrant_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    pls_min:
                                      type: integer
                                      example: -4
                                      default: 0
                                    points:
                                      type: integer
                                      example: 8
                                      default: 0
                                    tech_fouls_non_unsportsmanlike:
                                      type: integer
                                      example: 0
                                      default: 0
                                    double_double:
                                      type: boolean
                                      example: false
                                      default: true
                                    triple_double:
                                      type: boolean
                                      example: false
                                      default: true
                                    effective_fg_pct:
                                      type: integer
                                      example: 50
                                      default: 0
                                    efficiency:
                                      type: integer
                                      example: 13
                                      default: 0
                                    efficiency_game_score:
                                      type: number
                                      example: 8.1
                                      default: 0
                                    fouls_drawn:
                                      type: integer
                                      example: 1
                                      default: 0
                                    offensive_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    points_in_paint:
                                      type: integer
                                      example: 4
                                      default: 0
                                    points_in_paint_att:
                                      type: integer
                                      example: 2
                                      default: 0
                                    points_in_paint_made:
                                      type: integer
                                      example: 2
                                      default: 0
                                    points_in_paint_pct:
                                      type: integer
                                      example: 100
                                      default: 0
                                    points_off_turnovers:
                                      type: integer
                                      example: 2
                                      default: 0
                                    true_shooting_att:
                                      type: number
                                      example: 6.44
                                      default: 0
                                    true_shooting_pct:
                                      type: number
                                      example: 62.1
                                      default: 0
                                    coach_ejections:
                                      type: integer
                                      example: 0
                                      default: 0
                                    coach_tech_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    second_chance_pts:
                                      type: integer
                                      example: 0
                                      default: 0
                                    second_chance_pct:
                                      type: integer
                                      example: 0
                                      default: 0
      parameters:
      - in: path
        name: access_level
        schema:
          type: string
          default: trial
          enum:
          - trial
          - production
        required: true
        description: The access level of your API key<br><br>`trial`, `production`
      - in: path
        name: language_code
        schema:
          type: string
          enum:
          - en
          default: en
        required: true
        description: 2-letter code for supported languages<br><br>`en` (English)
      - in: path
        name: game_id
        schema:
          type: string
          default: 838316ea-ab7b-4581-a1dd-74229d1970d5
        required: true
        description: Unique Id of a game, found in a Schedule endpoint.<br><br>**Example:** `838316ea-ab7b-4581-a1dd-74229d1970d5`
      - in: path
        name: format
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
        required: true
        description: Format returned<br><br>`json`, `xml`
      tags:
      - Games
  /{access_level}/v8/{language_code}/games/{game_id}/pbp.{format}:
    get:
      summary: Game Play-by-Play
      description: '**Unrivaled Game Play-by-Play** provides detailed, real-time information on every team possession and game event.'
      operationId: get_{access_level}v8{language_code}games{game_id}boxscore.{format}-1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Result:
                  summary: Result
                  value:
                    id: 838316ea-ab7b-4581-a1dd-74229d1970d5
                    status: closed
                    coverage: full
                    scheduled: '2025-01-18T00:00:00+00:00'
                    lead_changes: 7
                    times_tied: 6
                    clock: '3:26'
                    quarter: 4
                    possession_arrow: 0780b080-347b-407b-b8d6-fa109ec23908
                    track_on_court: true
                    entry_mode: LDE
                    clock_decimal: '3:26'
                    broadcasts:
                    - type: TV
                      locale: National
                      network: TNT
                      channel: '245'
                    time_zones:
                      venue: US/Eastern
                      home: US/Eastern
                      away: US/Eastern
                    season:
                      id: c86ab7c9-5408-44e6-af06-c22636262927
                      year: 2025
                      type: REG
                      name: Regular Season
                    home:
                      name: Mist
                      alias: MST
                      id: 0780b080-347b-407b-b8d6-fa109ec23908
                      points: 80
                      remaining_timeouts: 0
                    periods:
                    - type: quarter
                      id: c2a3e4bd-1eb2-4730-9460-0ea601ed6d6e
                      number: 1
                      sequence: 1
                      scoring:
                        home:
                          name: Mist
                          id: 0780b080-347b-407b-b8d6-fa109ec23908
                          points: 20
                        away:
                          name: Lunar Owls
                          id: 67c22115-2385-458f-8632-a67a025fef55
                          points: 19
                      events:
                      - id: 49c5da0f-df85-4c1a-bc0e-4544157210ca
                        clock: '6:48'
                        updated: '2025-11-13T22:17:08+00:00'
                        description: Breanna Stewart makes two point jump shot
                        sequence: 1763072228727
                        home_points: 2
                        away_points: 0
                        clock_decimal: '6:48'
                        created: '2025-11-13T22:17:08+00:00'
                        clock_type: standard
                        event_type: twopointmade
                        attribution:
                          name: Mist
                          id: 0780b080-347b-407b-b8d6-fa109ec23908
                          team_basket: right
                        location:
                          coord_x: 1042
                          coord_y: 140
                        possession:
                          name: Lunar Owls
                          id: 67c22115-2385-458f-8632-a67a025fef55
                        on_court:
                          home:
                            name: Mist
                            id: 0780b080-347b-407b-b8d6-fa109ec23908
                            players:
                            - full_name: Jewell Loyd
                              jersey_number: '24'
                              id: 2387d221-be55-495a-b2b7-cddbce9addcc
                            - full_name: Breanna Stewart
                              jersey_number: '30'
                              id: a00515fd-bdd9-44d1-83a5-597a99316c54
                            - full_name: Courtney Vandersloot
                              jersey_number: '25'
                              id: 9234b3d7-b5b7-4bb3-99d5-0ae9737c55a1
                          away:
                            name: Lunar Owls
                            id: 67c22115-2385-458f-8632-a67a025fef55
                            players:
                            - full_name: Napheesa Collier
                              jersey_number: '24'
                              id: fd8d4b11-3d70-450a-b65c-016bec29cc9d
                            - full_name: Skylar Diggins
                              jersey_number: '4'
                              id: bee3dbc6-82f7-4dc0-b097-0cb42a1c00a2
                            - full_name: Allisha Gray
                              jersey_number: '15'
                              id: f0fef47c-4e5f-4b81-8875-3f01f8a0ea1b
                        statistics:
                        - type: fieldgoal
                          made: true
                          shot_type: jump shot
                          points: 2
                          shot_distance: 23.88
                          winning_basket: false
                          team:
                            name: Mist
                            id: 0780b080-347b-407b-b8d6-fa109ec23908
                          player:
                            full_name: Breanna Stewart
                            jersey_number: '30'
                            id: a00515fd-bdd9-44d1-83a5-597a99316c54
                      - id: ae82ca3f-ef42-4e75-a272-d594215e387d
                        clock: 00:02
                        updated: '2025-11-13T22:49:56+00:00'
                        description: Courtney Williams misses two point jump shot
                        sequence: 1763074196754
                        home_points: 20
                        away_points: 19
                        clock_decimal: 00:02
                        created: '2025-11-13T22:49:56+00:00'
                        clock_type: standard
                        event_type: twopointmiss
                        attribution:
                          name: Lunar Owls
                          id: 67c22115-2385-458f-8632-a67a025fef55
                          team_basket: left
                        location:
                          coord_x: 213
                          coord_y: 195
                          action_area: insideright
                        on_court:
                          home:
                            name: Mist
                            id: 0780b080-347b-407b-b8d6-fa109ec23908
                            players:
                            - full_name: Courtney Vandersloot
                              jersey_number: '25'
                              id: 9234b3d7-b5b7-4bb3-99d5-0ae9737c55a1
                            - full_name: Rickea Jackson
                              jersey_number: '5'
                              id: 529366c1-1863-4b1e-b789-5a8c52124f30
                            - full_name: DiJonai Carrington
                              jersey_number: '21'
                              id: 47169cbe-5640-460b-a840-7f438a124330
                          away:
                            name: Lunar Owls
                            id: 67c22115-2385-458f-8632-a67a025fef55
                            players:
                            - full_name: Shakira Austin
                              jersey_number: '1'
                              id: afd90940-4f4c-490a-8a22-1988ccc8e79d
                            - full_name: Courtney Williams
                              jersey_number: '10'
                              id: 95b03dc9-26cf-47ca-abf6-8380850d1e4e
                            - full_name: Allisha Gray
                              jersey_number: '15'
                              id: f0fef47c-4e5f-4b81-8875-3f01f8a0ea1b
                        statistics:
                        - type: fieldgoal
                          made: false
                          shot_type: jump shot
                          shot_distance: 15.02
                          winning_basket: false
                          team:
                            name: Lunar Owls
                            id: 67c22115-2385-458f-8632-a67a025fef55
                          player:
                            full_name: Courtney Williams
                            jersey_number: '10'
                            id: 95b03dc9-26cf-47ca-abf6-8380850d1e4e
                      - id: 95be610d-8ec1-40d5-a56a-fb85000b72fa
                        clock: 00:00
                        updated: '2025-11-13T22:49:56+00:00'
                        description: Mist defensive rebound
                        sequence: 1763074196778
                        home_points: 20
                        away_points: 19
                        clock_decimal: 00:00
                        created: '2025-11-13T22:49:56+00:00'
                        clock_type: standard
                        event_type: rebound
                        attribution:
                          name: Mist
                          id: 0780b080-347b-407b-b8d6-fa109ec23908
                          team_basket: right
                        location:
                          coord_x: 213
                          coord_y: 195
                          action_area: backcourt
                        possession:
                          name: Mist
                          id: 0780b080-347b-407b-b8d6-fa109ec23908
                        on_court:
                          home:
                            name: Mist
                            id: 0780b080-347b-407b-b8d6-fa109ec23908
                            players:
                            - full_name: Courtney Vandersloot
                              jersey_number: '25'
                              id: 9234b3d7-b5b7-4bb3-99d5-0ae9737c55a1
                            - full_name: Rickea Jackson
                              jersey_number: '5'
                              id: 529366c1-1863-4b1e-b789-5a8c52124f30
                            - full_name: DiJonai Carrington
                              jersey_number: '21'
                              id: 47169cbe-5640-460b-a840-7f438a124330
                          away:
                            name: Lunar Owls
                            id: 67c22115-2385-458f-8632-a67a025fef55
                            players:
                            - full_name: Shakira Austin
                              jersey_number: '1'
                              id: afd90940-4f4c-490a-8a22-1988ccc8e79d
                            - full_name: Courtney Williams
                              jersey_number: '10'
                              id: 95b03dc9-26cf-47ca-abf6-8380850d1e4e
                            - full_name: Allisha Gray
                              jersey_number: '15'
                              id: f0fef47c-4e5f-4b81-8875-3f01f8a0ea1b
                        statistics:
                        - type: rebound
                          rebound_type: defensive
                          team:
                            name: Mist
                            id: 0780b080-347b-407b-b8d6-fa109ec23908
                    - type: elam
                      id: 1454a670-c189-4f90-a7ea-b73721ef01a4
                      number: 4
                      sequence: 4
                      scoring:
                        times_tied: 1
                        lead_changes: 1
                        home:
                          name: Mist
                          id: 0780b080-347b-407b-b8d6-fa109ec23908
                          points: 7
                        away:
                          name: Lunar Owls
                          id: 67c22115-2385-458f-8632-a67a025fef55
                          points: 17
                      events:
                      - id: d9e9b1c2-bc9b-4bb5-9c87-1ae61a720483
                        clock: 00:19
                        updated: '2025-11-13T23:53:47+00:00'
                        description: Jewell Loyd makes two point layup (Courtney Vandersloot assists)
                        sequence: 1763078027323
                        home_points: 75
                        away_points: 67
                        clock_decimal: 00:19
                        created: '2025-11-13T23:53:47+00:00'
                        clock_type: elam
                        clock_directional: +00:19
                        event_type: twopointmade
                        attribution:
                          name: Mist
                          id: 0780b080-347b-407b-b8d6-fa109ec23908
                          team_basket: left
                        location:
                          coord_x: 98
                          coord_y: 319
                          action_area: inthepaint
                        possession:
                          name: Lunar Owls
                          id: 67c22115-2385-458f-8632-a67a025fef55
                        on_court:
                          home:
                            name: Mist
                            id: 0780b080-347b-407b-b8d6-fa109ec23908
                            players:
                            - full_name: Jewell Loyd
                              jersey_number: '24'
                              id: 2387d221-be55-495a-b2b7-cddbce9addcc
                            - full_name: Courtney Vandersloot
                              jersey_number: '25'
                              id: 9234b3d7-b5b7-4bb3-99d5-0ae9737c55a1
                            - full_name: Breanna Stewart
                              jersey_number: '30'
                              id: a00515fd-bdd9-44d1-83a5-597a99316c54
                          away:
                            name: Lunar Owls
                            id: 67c22115-2385-458f-8632-a67a025fef55
                            players:
                            - full_name: Napheesa Collier
                              jersey_number: '24'
                              id: fd8d4b11-3d70-450a-b65c-016bec29cc9d
                            - full_name: Courtney Williams
                              jersey_number: '10'
                              id: 95b03dc9-26cf-47ca-abf6-8380850d1e4e
                            - full_name: Allisha Gray
                              jersey_number: '15'
                              id: f0fef47c-4e5f-4b81-8875-3f01f8a0ea1b
                        statistics:
                        - type: fieldgoal
                          made: true
                          shot_type: layup
                          points: 2
                          shot_distance: 3.54
                          winning_basket: false
                          team:
                            name: Mist
                            id: 0780b080-347b-407b-b8d6-fa109ec23908
                          player:
                            full_name: Jewell Loyd
                            jersey_number: '24'
                            id: 2387d221-be55-495a-b2b7-cddbce9addcc
                        - type: assist
                          team:
                            name: Mist
                            id: 0780b080-347b-407b-b8d6-fa109ec23908
                          player:
                            full_name: Courtney Vandersloot
                            jersey_number: '25'
                            id: 9234b3d7-b5b7-4bb3-99d5-0ae9737c55a1
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 838316ea-ab7b-4581-a1dd-74229d1970d5
                  status:
                    type: string
                    example: closed
                  coverage:
                    type: string
                    example: full
                  scheduled:
                    type: string
                    example: '2025-01-18T00:00:00+00:00'
                  lead_changes:
                    type: integer
                    example: 7
                    default: 0
                  times_tied:
                    type: integer
                    example: 6
                    default: 0
                  clock:
                    type: string
                    example: '3:26'
                  quarter:
                    type: integer
                    example: 4
                    default: 0
                  possession_arrow:
                    type: string
                    example: 0780b080-347b-407b-b8d6-fa109ec23908
                  track_on_court:
                    type: boolean
                    example: true
                    default: true
                  entry_mode:
                    type: string
                    example: LDE
                  clock_decimal:
                    type: string
                    example: '3:26'
                  broadcasts:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: TV
                        locale:
                          type: string
                          example: National
                        network:
                          type: string
                          example: TNT
                        channel:
                          type: string
                          example: '245'
                  time_zones:
                    type: object
                    properties:
                      venue:
                        type: string
                        example: US/Eastern
                      home:
                        type: string
                        example: US/Eastern
                      away:
                        type: string
                        example: US/Eastern
                  season:
                    type: object
                    properties:
                      id:
                        type: string
                        example: c86ab7c9-5408-44e6-af06-c22636262927
                      year:
                        type: integer
                        example: 2025
                        default: 0
                      type:
                        type: string
                        example: REG
                      name:
                        type: string
                        example: Regular Season
                  home:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Mist
                      alias:
                        type: string
                        example: MST
                      id:
                        type: string
                        example: 0780b080-347b-407b-b8d6-fa109ec23908
                      points:
                        type: integer
                        example: 80
                        default: 0
                      remaining_timeouts:
                        type: integer
                        example: 0
                        default: 0
                  periods:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: quarter
                        id:
                          type: string
                          example: c2a3e4bd-1eb2-4730-9460-0ea601ed6d6e
                        number:
                          type: integer
                          example: 1
                          default: 0
                        sequence:
                          type: integer
                          example: 1
                          default: 0
                        scoring:
                          type: object
                          properties:
                            home:
                              type: object
                              properties:
                                name:
                                  type: string
                                  example: Mist
                                id:
                                  type: string
                                  example: 0780b080-347b-407b-b8d6-fa109ec23908
                                points:
                                  type: integer
                                  example: 20
                                  default: 0
                            away:
                              type: object
                              properties:
                                name:
                                  type: string
                                  example: Lunar Owls
                                id:
                                  type: string
                                  example: 67c22115-2385-458f-8632-a67a025fef55
                                points:
                                  type: integer
                                  example: 19
                                  default: 0
                        events:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 49c5da0f-df85-4c1a-bc0e-4544157210ca
                              clock:
                                type: string
                                example: '6:48'
                              updated:
                                type: string
                                example: '2025-11-13T22:17:08+00:00'
                              description:
                                type: string
                                example: Breanna Stewart makes two point jump shot
                              sequence:
                                type: integer
                                example: 1763072228727
                                default: 0
                              home_points:
                                type: integer
                                example: 2
                                default: 0
                              away_points:
                                type: integer
                                example: 0
                                default: 0
                              clock_decimal:
                                type: string
                                example: '6:48'
                              created:
                                type: string
                                example: '2025-11-13T22:17:08+00:00'
                              clock_type:
                                type: string
                                example: standard
                              event_type:
                                type: string
                                example: twopointmade
                              attribution:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    example: Mist
                                  id:
                                    type: string
                                    example: 0780b080-347b-407b-b8d6-fa109ec23908
                                  team_basket:
                                    type: string
                                    example: right
                              location:
                                type: object
                                properties:
                                  coord_x:
                                    type: integer
                                    example: 1042
                                    default: 0
                                  coord_y:
                                    type: integer
                                    example: 140
                                    default: 0
                              possession:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    example: Lunar Owls
                                  id:
                                    type: string
                                    example: 67c22115-2385-458f-8632-a67a025fef55
                              on_court:
                                type: object
                                properties:
                                  home:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        example: Mist
                                      id:
                                        type: string
                                        example: 0780b080-347b-407b-b8d6-fa109ec23908
                                      players:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            full_name:
                                              type: string
                                              example: Jewell Loyd
                                            jersey_number:
                                              type: string
                                              example: '24'
                                            id:
                                              type: string
                                              example: 2387d221-be55-495a-b2b7-cddbce9addcc
                                  away:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        example: Lunar Owls
                                      id:
                                        type: string
                                        example: 67c22115-2385-458f-8632-a67a025fef55
                                      players:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            full_name:
                                              type: string
                                              example: Napheesa Collier
                                            jersey_number:
                                              type: string
                                              example: '24'
                                            id:
                                              type: string
                                              example: fd8d4b11-3d70-450a-b65c-016bec29cc9d
                              statistics:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      example: fieldgoal
                                    made:
                                      type: boolean
                                      example: true
                                      default: true
                                    shot_type:
                                      type: string
                                      example: jump shot
                                    points:
                                      type: integer
                                      example: 2
                                      default: 0
                                    shot_distance:
                                      type: number
                                      example: 23.88
                                      default: 0
                                    winning_basket:
                                      type: boolean
                                      example: false
                                      default: true
                                    team:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                          example: Mist
                                        id:
                                          type: string
                                          example: 0780b080-347b-407b-b8d6-fa109ec23908
                                    player:
                                      type: object
                                      properties:
                                        full_name:
                                          type: string
                                          example: Breanna Stewart
                                        jersey_number:
                                          type: string
                                          example: '30'
                                        id:
                                          type: string
                                          example: a00515fd-bdd9-44d1-83a5-597a99316c54
      parameters:
      - in: path
        name: access_level
        schema:
          type: string
          default: trial
          enum:
          - trial
          - production
        required: true
        description: The access level of your API key<br><br>`trial`, `production`
      - in: path
        name: language_code
        schema:
          type: string
          enum:
          - en
          default: en
        required: true
        description: 2-letter code for supported languages<br><br>`en` (English)
      - in: path
        name: game_id
        schema:
          type: string
          default: 838316ea-ab7b-4581-a1dd-74229d1970d5
        required: true
        description: Unique Id of a game, found in a Schedule endpoint.<br><br>**Example:** `838316ea-ab7b-4581-a1dd-74229d1970d5`
      - in: path
        name: format
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
        required: true
        description: Format returned<br><br>`json`, `xml`
      tags:
      - Games
  /{access_level}/v8/{language_code}/games/{game_id}/summary.{format}:
    get:
      summary: Game Summary
      description: '**Unrivaled Game Summary** provides top-level boxscore information along with detailed game stats at the team and player levels.'
      operationId: get_{access_level}v8{language_code}games{game_id}pbp.{format}-1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Result:
                  summary: Result
                  value:
                    id: 838316ea-ab7b-4581-a1dd-74229d1970d5
                    status: closed
                    coverage: full
                    scheduled: '2025-01-18T00:00:00+00:00'
                    lead_changes: 7
                    times_tied: 6
                    clock: '3:26'
                    quarter: 4
                    possession_arrow: 0780b080-347b-407b-b8d6-fa109ec23908
                    track_on_court: true
                    entry_mode: LDE
                    clock_decimal: '3:26'
                    broadcasts:
                    - type: TV
                      locale: National
                      network: TNT
                      channel: '245'
                    time_zones:
                      venue: US/Eastern
                      home: US/Eastern
                      away: US/Eastern
                    season:
                      id: c86ab7c9-5408-44e6-af06-c22636262927
                      year: 2025
                      type: REG
                      name: Regular Season
                    venue:
                      id: 67e49419-cb04-4ce0-ab33-ae42af8d8634
                      name: Unrivaled Arena
                      capacity: 850
                      address: 7321 NW 75th Street
                      city: Medley
                      state: FL
                      zip: '33166'
                      country: USA
                      location:
                        lat: '25.842035'
                        lng: '-80.317192'
                    home:
                      name: Mist
                      alias: MST
                      id: 0780b080-347b-407b-b8d6-fa109ec23908
                      points: 80
                      remaining_timeouts: 0
                      scoring:
                      - type: quarter
                        number: 1
                        sequence: 1
                        points: 20
                      statistics:
                        minutes: '1:13:18'
                        field_goals_made: 30
                        field_goals_att: 68
                        field_goals_pct: 44.1
                        three_points_made: 6
                        three_points_att: 21
                        three_points_pct: 28.6
                        two_points_made: 24
                        two_points_att: 47
                        two_points_pct: 51.1
                        blocked_att: 2
                        free_throws_made: 8
                        free_throws_att: 10
                        free_throws_pct: 80
                        offensive_rebounds: 8
                        defensive_rebounds: 30
                        assists: 13
                        steals: 5
                        blocks: 2
                        assists_turnover_ratio: 1.18
                        personal_fouls: 15
                        ejections: 0
                        foulouts: 0
                        points: 80
                        fast_break_pts: 0
                        second_chance_pts: 6
                        team_turnovers: 0
                        points_off_turnovers: 11
                        team_rebounds: 5
                        flagrant_fouls: 0
                        player_tech_fouls: 0
                        team_tech_fouls: 0
                        coach_tech_fouls: 0
                        team_points: 0
                        total_points: 80
                        winning_basket: false
                        free_throw_points: 14
                        points_in_paint: 19
                        team_offensive_rebounds: 2
                        team_defensive_rebounds: 3
                        total_rebounds: 43
                        total_turnovers: 11
                        personal_rebounds: 38
                        player_turnovers: 11
                        field_goals_at_rim_made: 1
                        field_goals_at_rim_att: 1
                        field_goals_at_rim_pct: 100
                        field_goals_at_midrange_made: 2
                        field_goals_at_midrange_att: 10
                        field_goals_at_midrange_pct: 20
                        bench_points: 34
                        biggest_lead: 10
                        effective_fg_pct: 48.5
                        efficiency: 81
                        efficiency_game_score: 56.7
                        fouls_drawn: 11
                        offensive_fouls: 1
                        pls_min: -4
                        points_in_paint_att: 16
                        points_in_paint_made: 9
                        points_in_paint_pct: 56.3
                        total_fouls: 15
                        true_shooting_att: 72.4
                        true_shooting_pct: 55.2
                        most_unanswered:
                          points: 9
                          own_score: 11
                          opp_score: 6
                        periods:
                        - type: REG
                          id: c2a3e4bd-1eb2-4730-9460-0ea601ed6d6e
                          number: 1
                          sequence: 1
                          minutes: '21:00'
                          field_goals_made: 9
                          field_goals_att: 22
                          field_goals_pct: 40.9
                          three_points_made: 2
                          three_points_att: 6
                          three_points_pct: 33.3
                          two_points_made: 7
                          two_points_att: 16
                          two_points_pct: 43.8
                          blocked_att: 0
                          free_throws_made: 0
                          free_throws_att: 0
                          free_throws_pct: 0
                          offensive_rebounds: 3
                          defensive_rebounds: 7
                          rebounds: 10
                          assists: 5
                          turnovers: 3
                          steals: 4
                          blocks: 1
                          assists_turnover_ratio: 1.67
                          personal_fouls: 4
                          offensive_fouls: 0
                          ejections: 0
                          points: 20
                          second_chance_pts: 2
                          team_turnovers: 0
                          points_off_turnovers: 5
                          team_rebounds: 2
                          flagrant_fouls: 0
                          player_tech_fouls: 0
                          team_tech_fouls: 0
                          coach_tech_fouls: 0
                          pls_min: 1
                          effective_fg_pct: 45.5
                          bench_points: 10
                          points_in_paint: 0
                          points_in_paint_att: 0
                          points_in_paint_made: 0
                          points_in_paint_pct: 0
                          true_shooting_att: 22
                          true_shooting_pct: 45.5
                          biggest_lead: 8
                          fouls_drawn: 0
                          total_turnovers: 3
                          efficiency: 20
                          efficiency_game_score: 16
                          winning_basket: false
                          free_throw_points: 0
                      coaches:
                      - id: 8ded6ff7-ca32-4b9a-a5e9-d08ecf32ca5e
                        full_name: Phil Handy
                        first_name: Phil
                        last_name: Handy
                        position: Head Coach
                      players:
                      - full_name: Breanna Stewart
                        jersey_number: '30'
                        id: a00515fd-bdd9-44d1-83a5-597a99316c54
                        first_name: Breanna
                        last_name: Stewart
                        position: F
                        primary_position: NA
                        played: true
                        active: true
                        starter: true
                        on_court: true
                        statistics:
                          minutes: '13:06'
                          field_goals_made: 2
                          field_goals_att: 10
                          field_goals_pct: 20
                          three_points_made: 0
                          three_points_att: 4
                          three_points_pct: 0
                          two_points_made: 2
                          two_points_att: 6
                          two_points_pct: 33.3
                          blocked_att: 0
                          free_throws_made: 1
                          free_throws_att: 2
                          free_throws_pct: 50
                          offensive_rebounds: 1
                          defensive_rebounds: 12
                          rebounds: 13
                          assists: 3
                          turnovers: 1
                          steals: 1
                          blocks: 0
                          assists_turnover_ratio: 3
                          personal_fouls: 3
                          tech_fouls: 0
                          flagrant_fouls: 0
                          pls_min: -11
                          points: 6
                          free_throw_points: 2
                          tech_fouls_non_unsportsmanlike: 0
                          winning_basket: false
                          double_double: false
                          triple_double: false
                          effective_fg_pct: 20
                          efficiency: 13
                          efficiency_game_score: 4.6
                          fouls_drawn: 3
                          offensive_fouls: 1
                          points_in_paint: 2
                          points_in_paint_att: 4
                          points_in_paint_made: 1
                          points_in_paint_pct: 25
                          points_off_turnovers: 0
                          true_shooting_att: 10.88
                          true_shooting_pct: 27.6
                          coach_ejections: 0
                          coach_tech_fouls: 0
                          second_chance_pts: 0
                          second_chance_pct: 0
                          periods:
                          - type: ELAM
                            id: 1454a670-c189-4f90-a7ea-b73721ef01a4
                            number: 4
                            sequence: 4
                            minutes: '3:26'
                            field_goals_made: 0
                            field_goals_att: 3
                            field_goals_pct: 0
                            three_points_made: 0
                            three_points_att: 1
                            three_points_pct: 0
                            two_points_made: 0
                            two_points_att: 2
                            two_points_pct: 0
                            blocked_att: 0
                            free_throws_made: 0
                            free_throws_att: 0
                            free_throws_pct: 0
                            offensive_rebounds: 1
                            defensive_rebounds: 4
                            rebounds: 5
                            assists: 1
                            turnovers: 0
                            steals: 0
                            blocks: 0
                            assists_turnover_ratio: 0
                            personal_fouls: 0
                            offensive_fouls: 0
                            tech_fouls: 0
                            flagrant_fouls: 0
                            pls_min: -10
                            points: 0
                            effective_fg_pct: 0
                            efficiency: 4
                            efficiency_game_score: 0.5
                            points_in_paint: 0
                            points_in_paint_att: 2
                            points_in_paint_made: 0
                            points_in_paint_pct: 0
                            true_shooting_att: 3
                            true_shooting_pct: 0
                            fouls_drawn: 1
                            points_off_turnovers: 0
                            second_chance_pts: 0
                            free_throw_points: 0
                            tech_fouls_non_unsportsmanlike: 0
                            winning_basket: false
                    officials: []
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 838316ea-ab7b-4581-a1dd-74229d1970d5
                  status:
                    type: string
                    example: closed
                  coverage:
                    type: string
                    example: full
                  scheduled:
                    type: string
                    example: '2025-01-18T00:00:00+00:00'
                  lead_changes:
                    type: integer
                    example: 7
                    default: 0
                  times_tied:
                    type: integer
                    example: 6
                    default: 0
                  clock:
                    type: string
                    example: '3:26'
                  quarter:
                    type: integer
                    example: 4
                    default: 0
                  possession_arrow:
                    type: string
                    example: 0780b080-347b-407b-b8d6-fa109ec23908
                  track_on_court:
                    type: boolean
                    example: true
                    default: true
                  entry_mode:
                    type: string
                    example: LDE
                  clock_decimal:
                    type: string
                    example: '3:26'
                  broadcasts:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: TV
                        locale:
                          type: string
                          example: National
                        network:
                          type: string
                          example: TNT
                        channel:
                          type: string
                          example: '245'
                  time_zones:
                    type: object
                    properties:
                      venue:
                        type: string
                        example: US/Eastern
                      home:
                        type: string
                        example: US/Eastern
                      away:
                        type: string
                        example: US/Eastern
                  season:
                    type: object
                    properties:
                      id:
                        type: string
                        example: c86ab7c9-5408-44e6-af06-c22636262927
                      year:
                        type: integer
                        example: 2025
                        default: 0
                      type:
                        type: string
                        example: REG
                      name:
                        type: string
                        example: Regular Season
                  venue:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 67e49419-cb04-4ce0-ab33-ae42af8d8634
                      name:
                        type: string
                        example: Unrivaled Arena
[...]
