openapi: 3.0.0
info:
  title: Unrivaled API
  version: v8
  description: Official real-time data API for the Unrivaled professional women's 3x3 basketball league, operated
    by Sportradar as the league's Official Data Provider. Feeds cover schedules, standings, rosters, real-time scores,
    play-by-play, injuries, transfers, and season statistics, in JSON or XML. Assembled by API Evangelist on 2026-07-21
    from the per-endpoint OpenAPI definitions embedded in the 23 Unrivaled reference pages at https://developer.sportradar.com/basketball/reference/unrivaled-overview;
    operation content is preserved verbatim from the source definitions.
  contact:
    url: https://developer.sportradar.com/basketball/reference/unrivaled-overview
  x-provenance:
    generated: '2026-07-21'
    method: searched
    source: https://developer.sportradar.com/basketball/reference/unrivaled-overview
servers:
- url: https://api.sportradar.com/unrivaled/
security:
- sec0: []
paths:
  /{access_level}/v8/{language_code}/league/{year}/{month}/{day}/changes.{format}:
    get:
      summary: Daily Change Log
      description: '**Unrivaled Daily Change Log** provides IDs and timestamps for teams, players, game statistics,
        schedules, and standings that have been modified on a given date. To receive the data updates, use these
        unique IDs to pull relevant API feeds.'
      operationId: get_new-endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Result:
                  summary: Result
                  value:
                    league:
                      id: 844ee10a-00c8-4dc1-9c17-52598de2ef47
                      name: Unrivaled
                      alias: UNRIVALED
                    start_time: '2026-01-02T05:00:00Z'
                    end_time: '2026-01-03T04:59:59Z'
                    players:
                    - id: 69d001d2-b7a5-4bd9-bcde-d5cbbfb005df
                      full_name: Tiffany Hayes
                      last_modified: '2026-01-02T17:04:22+00:00'
                    - id: c1841a50-2629-47bb-8c9b-ddd141372f71
                      full_name: Georgia Amoore
                      last_modified: '2026-01-02T17:10:20+00:00'
              schema:
                type: object
                properties:
                  league:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 844ee10a-00c8-4dc1-9c17-52598de2ef47
                      name:
                        type: string
                        example: Unrivaled
                      alias:
                        type: string
                        example: UNRIVALED
                  start_time:
                    type: string
                    example: '2026-01-02T05:00:00Z'
                  end_time:
                    type: string
                    example: '2026-01-03T04:59:59Z'
                  players:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 69d001d2-b7a5-4bd9-bcde-d5cbbfb005df
                        full_name:
                          type: string
                          example: Tiffany Hayes
                        last_modified:
                          type: string
                          example: '2026-01-02T17:04:22+00:00'
      parameters:
      - in: path
        name: access_level
        schema:
          type: string
          default: trial
          enum:
          - trial
          - production
        required: true
        description: The access level of your API key<br><br>`trial`, `production`
      - in: path
        name: language_code
        schema:
          type: string
          enum:
          - en
          default: en
        required: true
        description: 2-letter code for supported languages<br><br>`en` (English)
      - in: path
        name: year
        schema:
          type: string
          enum:
          - '2026'
          default: '2026'
        required: true
        description: Year in `YYYY` format
      - in: path
        name: month
        schema:
          type: string
          enum:
          - '01'
          - '02'
          - '03'
          - '04'
          - '05'
          - '06'
          - '07'
          - 08
          - 09
          - '10'
          - '11'
          - '12'
          default: '01'
        required: true
        description: Month in `MM` format
      - in: path
        name: day
        schema:
          type: string
          enum:
          - '01'
          - '02'
          - '03'
          - '04'
          - '05'
          - '06'
          - '07'
          - 08
          - 09
          - '10'
          - '11'
          - '12'
          - '13'
          - '14'
          - '15'
          - '16'
          - '17'
          - '18'
          - '19'
          - '20'
          - '21'
          - '22'
          - '23'
          - '24'
          - '25'
          - '26'
          - '27'
          - '28'
          - '29'
          - '30'
          - '31'
          default: '16'
        required: true
        description: Date in `DD` format
      - in: path
        name: format
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
        required: true
        description: Format returned<br><br>`json`, `xml`
  /{access_level}/v8/{language_code}/league/{year}/{month}/{day}/daily_injuries.{format}:
    get:
      summary: Daily Injuries
      description: '**Unrivaled Daily Injuries** provides details for all injuries updated on a given date.'
      operationId: get_{access_level}v8{language_code}league{year}{month}{day}changes.{format}-1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Result:
                  summary: Result
                  value:
                    league:
                      id: 844ee10a-00c8-4dc1-9c17-52598de2ef47
                      name: Unrivaled
                      alias: UNRIVALED
                    date: '2026-01-02'
                    teams:
                    - id: 865d71fd-8173-4f06-ba93-fe886dd78330
                      name: Breeze
                      franchise_id: 8e8152ab-ab83-4647-adb4-e1fb1d5d5831
                      players:
                      - id: 285bb3a5-6359-4aa7-8f5d-b0692b92a675
                        full_name: Aari McDonald
                        first_name: Aari
                        last_name: McDonald
                        position: G
                        primary_position: NA
                        jersey_number: '3'
                        injuries:
                        - id: c4fee2ce-efa6-49a1-bf4a-0499abbd8aef
                          comment: The Breeze have listed McDonald as OUT for Friday's game (Jan. 2) against the
                            Lunar Owls.
                          desc: R Lower Extremity
                          status: Out
                          start_date: '2026-01-02'
                          update_date: '2026-01-02'
                    - id: 67c22115-2385-458f-8632-a67a025fef55
                      name: Lunar Owls
                      franchise_id: 0fe49837-e922-47d2-a063-3025ab8359db
                      players:
                      - id: fd8d4b11-3d70-450a-b65c-016bec29cc9d
                        full_name: Napheesa Collier
                        first_name: Napheesa
                        last_name: Collier
                        position: F
                        primary_position: NA
                        jersey_number: '24'
                        injuries:
                        - id: f7b1c392-afdc-4f4d-8417-851cfee9190f
                          comment: The Lunar Owls announced that F Napheesa Collier will miss the season while recovering
                            from surgeries on both ankles.
                          desc: Ankles
                          status: Out For Season
                          start_date: '2026-01-02'
                          update_date: '2026-01-02'
              schema:
                type: object
                properties:
                  league:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 844ee10a-00c8-4dc1-9c17-52598de2ef47
                      name:
                        type: string
                        example: Unrivaled
                      alias:
                        type: string
                        example: UNRIVALED
                  date:
                    type: string
                    example: '2026-01-02'
                  teams:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 865d71fd-8173-4f06-ba93-fe886dd78330
                        name:
                          type: string
                          example: Breeze
                        franchise_id:
                          type: string
                          example: 8e8152ab-ab83-4647-adb4-e1fb1d5d5831
                        players:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 285bb3a5-6359-4aa7-8f5d-b0692b92a675
                              full_name:
                                type: string
                                example: Aari McDonald
                              first_name:
                                type: string
                                example: Aari
                              last_name:
                                type: string
                                example: McDonald
                              position:
                                type: string
                                example: G
                              primary_position:
                                type: string
                                example: NA
                              jersey_number:
                                type: string
                                example: '3'
                              injuries:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      example: c4fee2ce-efa6-49a1-bf4a-0499abbd8aef
                                    comment:
                                      type: string
                                      example: The Breeze have listed McDonald as OUT for Friday's game (Jan. 2)
                                        against the Lunar Owls.
                                    desc:
                                      type: string
                                      example: R Lower Extremity
                                    status:
                                      type: string
                                      example: Out
                                    start_date:
                                      type: string
                                      example: '2026-01-02'
                                    update_date:
                                      type: string
                                      example: '2026-01-02'
      parameters:
      - in: path
        name: access_level
        schema:
          type: string
          default: trial
          enum:
          - trial
          - production
        required: true
        description: The access level of your API key<br><br>`trial`, `production`
      - in: path
        name: language_code
        schema:
          type: string
          enum:
          - en
          default: en
        required: true
        description: 2-letter code for supported languages<br><br>`en` (English)
      - in: path
        name: year
        schema:
          type: string
          enum:
          - '2026'
          default: '2026'
        required: true
        description: Year in `YYYY` format
      - in: path
        name: month
        schema:
          type: string
          enum:
          - '01'
          - '02'
          - '03'
          - '04'
          - '05'
          - '06'
          - '07'
          - 08
          - 09
          - '10'
          - '11'
          - '12'
          default: '01'
        required: true
        description: Month in `MM` format
      - in: path
        name: day
        schema:
          type: string
          enum:
          - '01'
          - '02'
          - '03'
          - '04'
          - '05'
          - '06'
          - '07'
          - 08
          - 09
          - '10'
          - '11'
          - '12'
          - '13'
          - '14'
          - '15'
          - '16'
          - '17'
          - '18'
          - '19'
          - '20'
          - '21'
          - '22'
          - '23'
          - '24'
          - '25'
          - '26'
          - '27'
          - '28'
          - '29'
          - '30'
          - '31'
          default: '16'
        required: true
        description: Date in `DD` format
      - in: path
        name: format
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
        required: true
        description: Format returned<br><br>`json`, `xml`
  /{access_level}/v8/{language_code}/games/{year}/{month}/{day}/schedule.{format}:
    get:
      responses:
        '200':
          description: ''
      parameters:
      - in: path
        name: access_level
        schema:
          type: string
          enum:
          - trial
          - production
          default: trial
        required: true
        description: The access level of your API key<br><br>`trial`, `production`
      - in: path
        name: language_code
        schema:
          type: string
          enum:
          - en
          default: en
        required: true
        description: 2-letter code for supported languages<br><br>`en` (English)
      - in: path
        name: year
        schema:
          type: string
          default: '2026'
          enum:
          - '2025'
          - '2026'
        required: true
        description: Year in `YYYY` format
      - in: path
        name: month
        schema:
          type: string
          enum:
          - '01'
          - '02'
          - '03'
          - '04'
          - '05'
          - '06'
          - '07'
          - 08
          - 09
          - '10'
          - '11'
          - '12'
          default: '01'
        required: true
        description: Month in `MM` format
      - in: path
        name: day
        schema:
          type: integer
          default: '01'
        required: true
        description: Date in `DD` format
      - in: path
        name: format
        schema:
          type: string
          enum:
          - json
          - xml
        required: true
        description: Format returned<br><br>`json`, `xml`
      operationId: get_access-level-v8-language-code-games-year-month-day-schedule-format
      summary: Daily Schedule
      description: '**Unrivaled Daily Schedule** provides date, time, location, and other event details for every
        game taking place in the league-defined day.'
  /{access_level}/v8/{language}/league/{year}/{month}/{day}/transfers.{format}:
    get:
      description: '**Unrivaled Daily Transfers** provides information for all transfers created during the league-defined
        day, regardless of the transaction''s effective date.'
      operationId: get_{access_level}v8{language}league{year}{month}{day}transfers.{format}
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                Result:
                  summary: Result
                  value:
                    league:
                      id: 59c24590-0adb-4b3d-80a8-10450f83f4a1
                      name: WNBA
                      alias: WNBA
                    start_time: '2022-07-26T04:00:00Z'
                    end_time: '2022-07-27T03:59:59Z'
                    players:
                    - id: 73a473b9-844b-4f21-8281-42a42217ae14
                      full_name: Kianna Smith
                      first_name: Kianna
                      last_name: Smith
                      position: G
                      primary_position: NA
                      transfers:
                      - id: 4c961a6d-ac95-4629-a589-5a99a12009d2
                        desc: The Los Angeles Sparks re-signed G Kianna Smith.
                        effective_date: '2022-07-26'
                        last_modified: '2022-07-26T17:07:46Z'
                        transaction_type: Re-Signed
                        transaction_code: RSGN
                        to_team:
                          id: 0a5ad38d-2fe3-43ba-894b-1ba3d5042ea9
                          name: Sparks
                          market: Los Angeles
                    - id: ceee01db-30cb-404f-860c-7acddd358a19
                      full_name: Liz Cambage
                      first_name: Liz
                      last_name: Cambage
                      position: C
                      primary_position: NA
                      transfers:
                      - id: 7cb28538-87e7-4e2e-9cec-2a3942c26e9e
                        desc: C Liz Cmabage and the Los Angeles Sparks agreed to a contract buyout.
                        effective_date: '2022-07-26'
                        last_modified: '2022-07-26T15:35:36Z'
                        transaction_type: Other Transaction
                        transaction_code: TRAN
                        from_team:
                          id: 0a5ad38d-2fe3-43ba-894b-1ba3d5042ea9
                          name: Sparks
                          market: Los Angeles
              schema:
                type: object
                properties:
                  league:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 59c24590-0adb-4b3d-80a8-10450f83f4a1
                      name:
                        type: string
                        example: WNBA
                      alias:
                        type: string
                        example: WNBA
                  start_time:
                    type: string
                    example: '2022-07-26T04:00:00Z'
                  end_time:
                    type: string
                    example: '2022-07-27T03:59:59Z'
                  players:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 73a473b9-844b-4f21-8281-42a42217ae14
                        full_name:
                          type: string
                          example: Kianna Smith
                        first_name:
                          type: string
                          example: Kianna
                        last_name:
                          type: string
                          example: Smith
                        position:
                          type: string
                          example: G
                        primary_position:
                          type: string
                          example: NA
                        transfers:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 4c961a6d-ac95-4629-a589-5a99a12009d2
                              desc:
                                type: string
                                example: The Los Angeles Sparks re-signed G Kianna Smith.
                              effective_date:
                                type: string
                                example: '2022-07-26'
                              last_modified:
                                type: string
                                example: '2022-07-26T17:07:46Z'
                              transaction_type:
                                type: string
                                example: Re-Signed
                              transaction_code:
                                type: string
                                example: RSGN
                              to_team:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    example: 0a5ad38d-2fe3-43ba-894b-1ba3d5042ea9
                                  name:
                                    type: string
                                    example: Sparks
                                  market:
                                    type: string
                                    example: Los Angeles
      parameters:
      - in: path
        name: access_level
        schema:
          type: string
          default: trial
          enum:
          - trial
          - production
        required: true
        description: The access level of your API key<br><br>`trial`, `production`
      - in: path
        name: language
        schema:
          type: string
          enum:
          - en
          default: en
        required: true
        description: 2-letter code for supported languages<br><br>`en` (English)
      - in: path
        name: year
        schema:
          type: string
          enum:
          - '2026'
          default: '2026'
        required: true
        description: Year in `YYYY` format
      - in: path
        name: month
        schema:
          type: string
          enum:
          - '01'
          - '02'
          - '03'
          - '04'
          - '05'
          - '06'
          - '07'
          - 08
          - 09
          - '10'
          - '11'
          - '12'
          default: '01'
        required: true
        description: Month in `MM` format
      - in: path
        name: day
        schema:
          type: string
          enum:
          - '01'
          - '02'
          - '03'
          - '04'
          - '05'
          - '06'
          - '07'
          - 08
          - 09
          - '10'
          - '11'
          - '12'
          - '13'
          - '14'
          - '15'
          - '16'
          - '17'
          - '18'
          - '19'
          - '20'
          - '21'
          - '22'
          - '23'
          - '24'
          - '25'
          - '26'
          - '27'
          - '28'
          - '29'
          - '30'
          - '31'
          default: '06'
        required: true
        description: Date in `DD` format
      - in: path
        name: format
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
        required: true
        description: Format returned<br><br>`json`, `xml`
      summary: Daily Transfers
  /{access_level}/v8/{language_code}/games/{game_id}/boxscore.{format}:
    get:
      summary: Game Boxscore
      description: '**Unrivaled Game Boxscore** provides top-level team scores by quarter, along with full statistics
        for each teams’ leaders in points, rebounds, and assists.'
      operationId: get_{access_level}v8{language_code}league{year}{month}{day}injuries.{format}-1-1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Result:
                  summary: Result
                  value:
                    id: 838316ea-ab7b-4581-a1dd-74229d1970d5
                    status: closed
                    coverage: full
                    scheduled: '2025-01-18T00:00:00+00:00'
                    lead_changes: 7
                    times_tied: 6
                    clock: '3:26'
                    quarter: 4
                    possession_arrow: 0780b080-347b-407b-b8d6-fa109ec23908
                    track_on_court: true
                    entry_mode: LDE
                    clock_decimal: '3:26'
                    broadcasts:
                    - type: TV
                      locale: National
                      network: TNT
                      channel: '245'
                    time_zones:
                      venue: US/Eastern
                      home: US/Eastern
                      away: US/Eastern
                    season:
                      id: c86ab7c9-5408-44e6-af06-c22636262927
                      year: 2025
                      type: REG
                      name: Regular Season
                    home:
                      name: Mist
                      alias: MST
                      id: 0780b080-347b-407b-b8d6-fa109ec23908
                      points: 80
                      remaining_timeouts: 0
                      scoring:
                      - type: quarter
                        number: 1
                        sequence: 1
                        points: 20
                      - type: quarter
                        number: 2
                        sequence: 2
                        points: 26
                      - type: quarter
                        number: 3
                        sequence: 3
                        points: 27
                      - type: elam
                        number: 4
                        sequence: 4
                        points: 7
                      leaders:
                        points:
                        - full_name: Jewell Loyd
                          jersey_number: '24'
                          id: 2387d221-be55-495a-b2b7-cddbce9addcc
                          position: G
                          primary_position: NA
                          statistics:
                            minutes: '17:05'
                            field_goals_made: 10
                            field_goals_att: 21
                            field_goals_pct: 47.6
                            three_points_made: 4
                            three_points_att: 9
                            three_points_pct: 44.4
                            two_points_made: 6
                            two_points_att: 12
                            two_points_pct: 50
                            blocked_att: 0
                            free_throws_made: 3
                            free_throws_att: 4
                            free_throws_pct: 75
                            offensive_rebounds: 3
                            defensive_rebounds: 3
                            rebounds: 6
                            assists: 2
                            turnovers: 3
                            steals: 0
                            blocks: 0
                            assists_turnover_ratio: 0.67
                            personal_fouls: 2
                            tech_fouls: 0
                            flagrant_fouls: 0
                            pls_min: -5
                            points: 29
                            tech_fouls_non_unsportsmanlike: 0
                            double_double: false
                            triple_double: false
                            effective_fg_pct: 57.1
                            efficiency: 25
                            efficiency_game_score: 18.5
                            fouls_drawn: 5
                            offensive_fouls: 0
                            points_in_paint: 9
                            points_in_paint_att: 5
                            points_in_paint_made: 4
                            points_in_paint_pct: 80
                            points_off_turnovers: 7
                            true_shooting_att: 22.76
                            true_shooting_pct: 63.7
                            coach_ejections: 0
                            coach_tech_fouls: 0
                            second_chance_pts: 4
                            second_chance_pct: 0
                        rebounds:
                        - full_name: Breanna Stewart
                          jersey_number: '30'
                          id: a00515fd-bdd9-44d1-83a5-597a99316c54
                          position: F
                          primary_position: NA
                          statistics:
                            minutes: '13:06'
                            field_goals_made: 2
                            field_goals_att: 10
                            field_goals_pct: 20
                            three_points_made: 0
                            three_points_att: 4
                            three_points_pct: 0
                            two_points_made: 2
                            two_points_att: 6
                            two_points_pct: 33.3
                            blocked_att: 0
                            free_throws_made: 1
                            free_throws_att: 2
                            free_throws_pct: 50
                            offensive_rebounds: 1
                            defensive_rebounds: 12
                            rebounds: 13
                            assists: 3
                            turnovers: 1
                            steals: 1
                            blocks: 0
                            assists_turnover_ratio: 3
                            personal_fouls: 3
                            tech_fouls: 0
                            flagrant_fouls: 0
                            pls_min: -11
                            points: 6
                            tech_fouls_non_unsportsmanlike: 0
                            double_double: false
                            triple_double: false
                            effective_fg_pct: 20
                            efficiency: 13
                            efficiency_game_score: 4.6
                            fouls_drawn: 3
                            offensive_fouls: 1
                            points_in_paint: 2
                            points_in_paint_att: 4
                            points_in_paint_made: 1
                            points_in_paint_pct: 25
                            points_off_turnovers: 0
                            true_shooting_att: 10.88
                            true_shooting_pct: 27.6
                            coach_ejections: 0
                            coach_tech_fouls: 0
                            second_chance_pts: 0
                            second_chance_pct: 0
                        assists:
                        - full_name: DiJonai Carrington
                          jersey_number: '21'
                          id: 47169cbe-5640-460b-a840-7f438a124330
                          position: G-F
                          primary_position: NA
                          statistics:
                            minutes: '9:34'
                            field_goals_made: 3
                            field_goals_att: 6
                            field_goals_pct: 50
                            three_points_made: 0
                            three_points_att: 2
                            three_points_pct: 0
                            two_points_made: 3
                            two_points_att: 4
                            two_points_pct: 75
                            blocked_att: 0
                            free_throws_made: 1
                            free_throws_att: 1
                            free_throws_pct: 100
                            offensive_rebounds: 0
                            defensive_rebounds: 6
                            rebounds: 6
                            assists: 3
                            turnovers: 3
                            steals: 2
                            blocks: 2
                            assists_turnover_ratio: 1
                            personal_fouls: 3
                            tech_fouls: 0
                            flagrant_fouls: 0
                            pls_min: -4
                            points: 8
                            tech_fouls_non_unsportsmanlike: 0
                            double_double: false
                            triple_double: false
                            effective_fg_pct: 50
                            efficiency: 13
                            efficiency_game_score: 8.1
                            fouls_drawn: 1
                            offensive_fouls: 0
                            points_in_paint: 4
                            points_in_paint_att: 2
                            points_in_paint_made: 2
                            points_in_paint_pct: 100
                            points_off_turnovers: 2
                            true_shooting_att: 6.44
                            true_shooting_pct: 62.1
                            coach_ejections: 0
                            coach_tech_fouls: 0
                            second_chance_pts: 0
                            second_chance_pct: 0
                        - full_name: Breanna Stewart
                          jersey_number: '30'
                          id: a00515fd-bdd9-44d1-83a5-597a99316c54
                          position: F
                          primary_position: NA
                          statistics:
                            minutes: '13:06'
                            field_goals_made: 2
                            field_goals_att: 10
                            field_goals_pct: 20
                            three_points_made: 0
                            three_points_att: 4
                            three_points_pct: 0
                            two_points_made: 2
                            two_points_att: 6
                            two_points_pct: 33.3
                            blocked_att: 0
                            free_throws_made: 1
                            free_throws_att: 2
                            free_throws_pct: 50
                            offensive_rebounds: 1
                            defensive_rebounds: 12
                            rebounds: 13
                            assists: 3
                            turnovers: 1
                            steals: 1
                            blocks: 0
                            assists_turnover_ratio: 3
                            personal_fouls: 3
                            tech_fouls: 0
                            flagrant_fouls: 0
                            pls_min: -11
                            points: 6
                            tech_fouls_non_unsportsmanlike: 0
                            double_double: false
                            triple_double: false
                            effective_fg_pct: 20
                            efficiency: 13
                            efficiency_game_score: 4.6
                            fouls_drawn: 3
                            offensive_fouls: 1
                            points_in_paint: 2
                            points_in_paint_att: 4
                            points_in_paint_made: 1
                            points_in_paint_pct: 25
                            points_off_turnovers: 0
                            true_shooting_att: 10.88
                            true_shooting_pct: 27.6
                            coach_ejections: 0
                            coach_tech_fouls: 0
                            second_chance_pts: 0
                            second_chance_pct: 0
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 838316ea-ab7b-4581-a1dd-74229d1970d5
                  status:
                    type: string
                    example: closed
                  coverage:
                    type: string
                    example: full
                  scheduled:
                    type: string
                    example: '2025-01-18T00:00:00+00:00'
                  lead_changes:
                    type: integer
                    example: 7
                    default: 0
                  times_tied:
                    type: integer
                    example: 6
                    default: 0
                  clock:
                    type: string
                    example: '3:26'
                  quarter:
                    type: integer
                    example: 4
                    default: 0
                  possession_arrow:
                    type: string
                    example: 0780b080-347b-407b-b8d6-fa109ec23908
                  track_on_court:
                    type: boolean
                    example: true
                    default: true
                  entry_mode:
                    type: string
                    example: LDE
                  clock_decimal:
                    type: string
                    example: '3:26'
                  broadcasts:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: TV
                        locale:
                          type: string
                          example: National
                        network:
                          type: string
                          example: TNT
                        channel:
                          type: string
                          example: '245'
                  time_zones:
                    type: object
                    properties:
                      venue:
                        type: string
                        example: US/Eastern
                      home:
                        type: string
                        example: US/Eastern
                      away:
                        type: string
                        example: US/Eastern
                  season:
                    type: object
                    properties:
                      id:
                        type: string
                        example: c86ab7c9-5408-44e6-af06-c22636262927
                      year:
                        type: integer
                        example: 2025
                        default: 0
                      type:
                        type: string
                        example: REG
                      name:
                        type: string
                        example: Regular Season
                  home:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Mist
                      alias:
                        type: string
                        example: MST
                      id:
                        type: string
                        example: 0780b080-347b-407b-b8d6-fa109ec23908
                      points:
                        type: integer
                        example: 80
                        default: 0
                      remaining_timeouts:
                        type: integer
                        example: 0
                        default: 0
                      scoring:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              example: quarter
                            number:
                              type: integer
                              example: 1
                              default: 0
                            sequence:
                              type: integer
                              example: 1
                              default: 0
                            points:
                              type: integer
                              example: 20
                              default: 0
                      leaders:
                        type: object
                        properties:
                          points:
                            type: array
                            items:
                              type: object
                              properties:
                                full_name:
                                  type: string
                                  example: Jewell Loyd
                                jersey_number:
                                  type: string
                                  example: '24'
                                id:
                                  type: string
                                  example: 2387d221-be55-495a-b2b7-cddbce9addcc
                                position:
                                  type: string
                                  example: G
                                primary_position:
                                  type: string
                                  example: NA
                                statistics:
                                  type: object
                                  properties:
                                    minutes:
                                      type: string
                                      example: '17:05'
                                    field_goals_made:
                                      type: integer
                                      example: 10
                                      default: 0
                                    field_goals_att:
                                      type: integer
                                      example: 21
                                      default: 0
                                    field_goals_pct:
                                      type: number
                                      example: 47.6
                                      default: 0
                                    three_points_made:
                                      type: integer
                                      example: 4
                                      default: 0
                                    three_points_att:
                                      type: integer
                                      example: 9
                                      default: 0
                                    three_points_pct:
                                      type: number
                                      example: 44.4
                                      default: 0
                                    two_points_made:
                                      type: integer
                                      example: 6
                                      default: 0
                                    two_points_att:
                                      type: integer
                                      example: 12
                                      default: 0
                                    two_points_pct:
                                      type: integer
                                      example: 50
                                      default: 0
                                    blocked_att:
                                      type: integer
                                      example: 0
                                      default: 0
                                    free_throws_made:
                                      type: integer
                                      example: 3
                                      default: 0
                                    free_throws_att:
                                      type: integer
                                      example: 4
                                      default: 0
                                    free_throws_pct:
                                      type: integer
                                      example: 75
                                      default: 0
                                    offensive_rebounds:
                                      type: integer
                                      example: 3
                                      default: 0
                                    defensive_rebounds:
                                      type: integer
                                      example: 3
                                      default: 0
                                    rebounds:
                                      type: integer
                                      example: 6
                                      default: 0
                                    assists:
                                      type: integer
                                      example: 2
                                      default: 0
                                    turnovers:
                                      type: integer
                                      example: 3
                                      default: 0
                                    steals:
                                      type: integer
                                      example: 0
                                      default: 0
                                    blocks:
                                      type: integer
                                      example: 0
                                      default: 0
                                    assists_turnover_ratio:
                                      type: number
                                      example: 0.67
                                      default: 0
                                    personal_fouls:
                                      type: integer
                                      example: 2
                                      default: 0
                                    tech_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    flagrant_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    pls_min:
                                      type: integer
                                      example: -5
                                      default: 0
                                    points:
                                      type: integer
                                      example: 29
                                      default: 0
                                    tech_fouls_non_unsportsmanlike:
                                      type: integer
                                      example: 0
                                      default: 0
                                    double_double:
                                      type: boolean
                                      example: false
                                      default: true
                                    triple_double:
                                      type: boolean
                                      example: false
                                      default: true
                                    effective_fg_pct:
                                      type: number
                                      example: 57.1
                                      default: 0
                                    efficiency:
                                      type: integer
                                      example: 25
                                      default: 0
                                    efficiency_game_score:
                                      type: number
                                      example: 18.5
                                      default: 0
                                    fouls_drawn:
                                      type: integer
                                      example: 5
                                      default: 0
                                    offensive_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    points_in_paint:
                                      type: integer
                                      example: 9
                                      default: 0
                                    points_in_paint_att:
                                      type: integer
                                      example: 5
                                      default: 0
                                    points_in_paint_made:
                                      type: integer
                                      example: 4
                                      default: 0
                                    points_in_paint_pct:
                                      type: integer
                                      example: 80
                                      default: 0
                                    points_off_turnovers:
                                      type: integer
                                      example: 7
                                      default: 0
                                    true_shooting_att:
                                      type: number
                                      example: 22.76
                                      default: 0
                                    true_shooting_pct:
                                      type: number
                                      example: 63.7
                                      default: 0
                                    coach_ejections:
                                      type: integer
                                      example: 0
                                      default: 0
                                    coach_tech_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    second_chance_pts:
                                      type: integer
                                      example: 4
                                      default: 0
                                    second_chance_pct:
                                      type: integer
                                      example: 0
                                      default: 0
                          rebounds:
                            type: array
                            items:
                              type: object
                              properties:
                                full_name:
                                  type: string
                                  example: Breanna Stewart
                                jersey_number:
                                  type: string
                                  example: '30'
                                id:
                                  type: string
                                  example: a00515fd-bdd9-44d1-83a5-597a99316c54
                                position:
                                  type: string
                                  example: F
                                primary_position:
                                  type: string
                                  example: NA
                                statistics:
                                  type: object
                                  properties:
                                    minutes:
                                      type: string
                                      example: '13:06'
                                    field_goals_made:
                                      type: integer
                                      example: 2
                                      default: 0
                                    field_goals_att:
                                      type: integer
                                      example: 10
                                      default: 0
                                    field_goals_pct:
                                      type: integer
                                      example: 20
                                      default: 0
                                    three_points_made:
                                      type: integer
                                      example: 0
                                      default: 0
                                    three_points_att:
                                      type: integer
                                      example: 4
                                      default: 0
                                    three_points_pct:
                                      type: integer
                                      example: 0
                                      default: 0
                                    two_points_made:
                                      type: integer
                                      example: 2
                                      default: 0
                                    two_points_att:
                                      type: integer
                                      example: 6
                                      default: 0
                                    two_points_pct:
                                      type: number
                                      example: 33.3
                                      default: 0
                                    blocked_att:
                                      type: integer
                                      example: 0
                                      default: 0
                                    free_throws_made:
                                      type: integer
                                      example: 1
                                      default: 0
                                    free_throws_att:
                                      type: integer
                                      example: 2
                                      default: 0
                                    free_throws_pct:
                                      type: integer
                                      example: 50
                                      default: 0
                                    offensive_rebounds:
                                      type: integer
                                      example: 1
                                      default: 0
                                    defensive_rebounds:
                                      type: integer
                                      example: 12
                                      default: 0
                                    rebounds:
                                      type: integer
                                      example: 13
                                      default: 0
                                    assists:
                                      type: integer
                                      example: 3
                                      default: 0
                                    turnovers:
                                      type: integer
                                      example: 1
                                      default: 0
                                    steals:
                                      type: integer
                                      example: 1
                                      default: 0
                                    blocks:
                                      type: integer
                                      example: 0
                                      default: 0
                                    assists_turnover_ratio:
                                      type: integer
                                      example: 3
                                      default: 0
                                    personal_fouls:
                                      type: integer
                                      example: 3
                                      default: 0
                                    tech_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    flagrant_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    pls_min:
                                      type: integer
                                      example: -11
                                      default: 0
                                    points:
                                      type: integer
                                      example: 6
                                      default: 0
                                    tech_fouls_non_unsportsmanlike:
                                      type: integer
                                      example: 0
                                      default: 0
                                    double_double:
                                      type: boolean
                                      example: false
                                      default: true
                                    triple_double:
                                      type: boolean
                                      example: false
                                      default: true
                                    effective_fg_pct:
                                      type: integer
                                      example: 20
                                      default: 0
                                    efficiency:
                                      type: integer
                                      example: 13
                                      default: 0
                                    efficiency_game_score:
                                      type: number
                                      example: 4.6
                                      default: 0
                                    fouls_drawn:
                                      type: integer
                                      example: 3
                                      default: 0
                                    offensive_fouls:
                                      type: integer
                                      example: 1
                                      default: 0
                                    points_in_paint:
                                      type: integer
                                      example: 2
                                      default: 0
                                    points_in_paint_att:
                                      type: integer
                                      example: 4
                                      default: 0
                                    points_in_paint_made:
                                      type: integer
                                      example: 1
                                      default: 0
                                    points_in_paint_pct:
                                      type: integer
                                      example: 25
                                      default: 0
                                    points_off_turnovers:
                                      type: integer
                                      example: 0
                                      default: 0
                                    true_shooting_att:
                                      type: number
                                      example: 10.88
                                      default: 0
                                    true_shooting_pct:
                                      type: number
                                      example: 27.6
                                      default: 0
                                    coach_ejections:
                                      type: integer
                                      example: 0
                                      default: 0
                                    coach_tech_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    second_chance_pts:
                                      type: integer
                                      example: 0
                                      default: 0
                                    second_chance_pct:
                                      type: integer
                                      example: 0
                                      default: 0
                          assists:
                            type: array
                            items:
                              type: object
                              properties:
                                full_name:
                                  type: string
                                  example: DiJonai Carrington
                                jersey_number:
                                  type: string
                                  example: '21'
                                id:
                                  type: string
                                  example: 47169cbe-5640-460b-a840-7f438a124330
                                position:
                                  type: string
                                  example: G-F
                                primary_position:
                                  type: string
                                  example: NA
                                statistics:
                                  type: object
                                  properties:
                                    minutes:
                                      type: string
                                      example: '9:34'
                                    field_goals_made:
                                      type: integer
                                      example: 3
                                      default: 0
                                    field_goals_att:
                                      type: integer
                                      example: 6
                                      default: 0
                                    field_goals_pct:
                                      type: integer
                                      example: 50
                                      default: 0
                                    three_points_made:
                                      type: integer
                                      example: 0
                                      default: 0
                                    three_points_att:
                                      type: integer
                                      example: 2
                                      default: 0
                                    three_points_pct:
                                      type: integer
                                      example: 0
                                      default: 0
                                    two_points_made:
                                      type: integer
                                      example: 3
                                      default: 0
                                    two_points_att:
                                      type: integer
                                      example: 4
                                      default: 0
                                    two_points_pct:
                                      type: integer
                                      example: 75
                                      default: 0
                                    blocked_att:
                                      type: integer
                                      example: 0
                                      default: 0
                                    free_throws_made:
                                      type: integer
                                      example: 1
                                      default: 0
                                    free_throws_att:
                                      type: integer
                                      example: 1
                                      default: 0
                                    free_throws_pct:
                                      type: integer
                                      example: 100
                                      default: 0
                                    offensive_rebounds:
                                      type: integer
                                      example: 0
                                      default: 0
                                    defensive_rebounds:
                                      type: integer
                                      example: 6
                                      default: 0
                                    rebounds:
                                      type: integer
                                      example: 6
                                      default: 0
                                    assists:
                                      type: integer
                                      example: 3
                                      default: 0
                                    turnovers:
                                      type: integer
                                      example: 3
                                      default: 0
                                    steals:
                                      type: integer
                                      example: 2
                                      default: 0
                                    blocks:
                                      type: integer
                                      example: 2
                                      default: 0
                                    assists_turnover_ratio:
                                      type: integer
                                      example: 1
                                      default: 0
                                    personal_fouls:
                                      type: integer
                                      example: 3
                                      default: 0
                                    tech_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    flagrant_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    pls_min:
                                      type: integer
                                      example: -4
                                      default: 0
                                    points:
                                      type: integer
                                      example: 8
                                      default: 0
                                    tech_fouls_non_unsportsmanlike:
                                      type: integer
                                      example: 0
                                      default: 0
                                    double_double:
                                      type: boolean
                                      example: false
                                      default: true
                                    triple_double:
                                      type: boolean
                                      example: false
                                      default: true
                                    effective_fg_pct:
                                      type: integer
                                      example: 50
                                      default: 0
                                    efficiency:
                                      type: integer
                                      example: 13
                                      default: 0
                                    efficiency_game_score:
                                      type: number
                                      example: 8.1
                                      default: 0
                                    fouls_drawn:
                                      type: integer
                                      example: 1
                                      default: 0
                                    offensive_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    points_in_paint:
                                      type: integer
                                      example: 4
                                      default: 0
                                    points_in_paint_att:
                                      type: integer
                                      example: 2
                                      default: 0
                                    points_in_paint_made:
                                      type: integer
                                      example: 2
                                      default: 0
                                    points_in_paint_pct:
                                      type: integer
                                      example: 100
                                      default: 0
                                    points_off_turnovers:
                                      type: integer
                                      example: 2
                                      default: 0
                                    true_shooting_att:
                                      type: number
                                      example: 6.44
                                      default: 0
                                    true_shooting_pct:
                                      type: number
                                      example: 62.1
                                      default: 0
                                    coach_ejections:
                                      type: integer
                                      example: 0
                                      default: 0
                                    coach_tech_fouls:
                                      type: integer
                                      example: 0
                                      default: 0
                                    second_chance_pts:
                                      type: integer
                                      example: 0
                                      default: 0
                                    second_chance_pct:
                                      type: integer
                                      example: 0
                                      default: 0
      parameters:
      - in: path
        name: access_level
        schema:
          type: string
          default: trial
          enum:
          - trial
          - production
        required: true
        description: The access level of your API key<br><br>`trial`, `production`
      - in: path
        name: language_code
        schema:
          type: string
          enum:
          - en
          default: en
        required: true
        description: 2-letter code for supported languages<br><br>`en` (English)
      - in: path
        name: game_id
        schema:
          type: string
          default: 838316ea-ab7b-4581-a1dd-74229d1970d5
        required: true
        description: Unique Id of a game, found in a Schedule endpoint.<br><br>**Example:** `838316ea-ab7b-4581-a1dd-74229d1970d5`
      - in: path
        name: format
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
        required: true
        description: Format returned<br><br>`json`, `xml`
  /{access_level}/v8/{language_code}/games/{game_id}/pbp.{format}:
    get:
      summary: Game Play-by-Play
      description: '**Unrivaled Game Play-by-Play** provides detailed, real-time information on every team possession
        and game event.'
      operationId: get_{access_level}v8{language_code}games{game_id}boxscore.{format}-1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Result:
                  summary: Result
                  value:
                    id: 838316ea-ab7b-4581-a1dd-74229d1970d5
                    status: closed
                    coverage: full
                    scheduled: '2025-01-18T00:00:00+00:00'
                    lead_changes: 7
                    times_tied: 6
                    clock: '3:26'
                    quarter: 4
                    possession_arrow: 0780b080-347b-407b-b8d6-fa109ec23908
                    track_on_court: true
                    entry_mode: LDE
                    clock_decimal: '3:26'
                    broadcasts:
                    - type: TV
                      locale: National
                      network: TNT
                      channel: '245'
                    time_zones:
                      venue: US/Eastern
                      home: US/Eastern
                      away: US/Eastern
                    season:
                      id: c86ab7c9-5408-44e6-af06-c22636262927
                      year: 2025
                      type: REG
                      name: Regular Season
                    home:
                      name: Mist
                      alias: MST
                      id: 0780b080-347b-407b-b8d6-fa109ec23908
                      points: 80
                      remaining_timeouts: 0
                    periods:
                    - type: quarter
                      id: c2a3e4bd-1eb2-4730-9460-0ea601ed6d6e
                      number: 1
                      sequence: 1
                      scoring:
                        home:
                          name: Mist
                          id: 0780b080-347b-407b-b8d6-fa109ec23908
                          points: 20
                        away:
                          name: Lunar Owls
                          id: 67c22115-2385-458f-8632-a67a025fef55
                          points: 19
                      events:
                      - id: 49c5da0f-df85-4c1a-bc0e-4544157210ca
                        clock: '6:48'
                        updated: '2025-11-13T22:17:08+00:00'
                        description: Breanna Stewart makes two point jump shot
                        sequence: 1763072228727
                        home_points: 2
                        away_points: 0
                        clock_decimal: '6:48'
                        created: '2025-11-13T22:17:08+00:00'
                        clock_type: standard
                        event_type: twopointmade
                        attribution:
                          name: Mist
                          id: 0780b080-347b-407b-b8d6-fa109ec23908
                          team_basket: right
                        location:
                          coord_x: 1042
                          coord_y: 140
                        possession:
                          name: Lunar Owls
                          id: 67c22115-2385-458f-8632-a67a025fef55
                        on_court:
                          home:
                            name: Mist
                            id: 0780b080-347b-407b-b8d6-fa109ec23908
                            players:
                            - full_name: Jewell Loyd
                              jersey_number: '24'
                              id: 2387d221-be55-495a-b2b7-cddbce9addcc
                            - full_name: Breanna Stewart
                              jersey_number: '30'
                              id: a00515fd-bdd9-44d1-83a5-597a99316c54
                            - full_name: Courtney Vandersloot
                              jersey_number: '25'
                              id: 9234b3d7-b5b7-4bb3-99d5-0ae9737c55a1
                          away:
                            name: Lunar Owls
                            id: 67c22115-2385-458f-8632-a67a025fef55
                            players:
                            - full_name: Napheesa Collier
                              jersey_number: '24'
                              id: fd8d4b11-3d70-450a-b65c-016bec29cc9d
                            - full_name: Skylar Diggins
                              jersey_number: '4'
                              id: bee3dbc6-82f7-4dc0-b097-0cb42a1c00a2
                            - full_name: Allisha Gray
                              jersey_number: '15'
                              id: f0fef47c-4e5f-4b81-8875-3f01f8a0ea1b
                        statistics:
                        - type: fieldgoal
                          made: true
                          shot_type: jump shot
                          points: 2
                          shot_distance: 23.88
                          winning_basket: false
                          team:
                            name: Mist
                            id: 0780b080-347b-407b-b8d6-fa109ec23908
                          player:
                            full_name: Breanna Stewart
                            jersey_number: '30'
                            id: a00515fd-bdd9-44d1-83a5-597a99316c54
                      - id: ae82ca3f-ef42-4e75-a272-d594215e387d
                        clock: 00:02
                        updated: '2025-11-13T22:49:56+00:00'
                        description: Courtney Williams misses two point jump shot
                        sequence: 1763074196754
                        home_points: 20
                        away_points: 19
                        clock_decimal: 00:02
                        created: '2025-11-13T22:49:56+00:00'
                        clock_type: standard
                        event_type: twopointmiss
                        attribution:
                          name: Lunar Owls
                          id: 67c22115-2385-458f-8632-a67a025fef55
                          team_basket: left
                        location:
                          coord_x: 213
                          coord_y: 195
                          action_area: insideright
                        on_court:
                          home:
                            name: Mist
                            id: 0780b080-347b-407b-b8d6-fa109ec23908
                            players:
                            - full_name: Courtney Vandersloot
                              jersey_number: '25'
                              id: 9234b3d7-b5b7-4bb3-99d5-0ae9737c55a1
                            - full_name: Rickea Jackson
                              jersey_number: '5'
                              id: 529366c1-1863-4b1e-b789-5a8c52124f30
                            - full_name: DiJonai Carrington
                              jersey_number: '21'
                              id: 47169cbe-5640-460b-a840-7f438a124330
                          away:
                            name: Lunar Owls
                            id: 67c22115-2385-458f-8632-a67a025fef55
                            players:
                            - full_name: Shakira Austin
                              jersey_number: '1'
                              id: afd90940-4f4c-490a-8a22-1988ccc8e79d
                            - full_name: Courtney Williams
                              jersey_number: '10'
                              id: 95b03dc9-26cf-47ca-abf6-8380850d1e4e
                            - full_name: Allisha Gray
                              jersey_number: '15'
                              id: f0fef47c-4e5f-4b81-8875-3f01f8a0ea1b
                        statistics:
                        - type: fieldgoal
                          made: false
                          shot_type: jump shot
                          shot_distance: 15.02
                          winning_basket: false
                          team:
                            name: Lunar Owls
                            id: 67c22115-2385-458f-8632-a67a025fef55
                          player:
                            full_name: Courtney Williams
                            jersey_number: '10'
                            id: 95b03dc9-26cf-47ca-abf6-8380850d1e4e
                      - id: 95be610d-8ec1-40d5-a56a-fb85000b72fa
                        clock: 00:00
                        updated: '2025-11-13T22:49:56+00:00'
                        description: Mist defensive rebound
                        sequence: 1763074196778
                        home_points: 20
                        away_points: 19
                        clock_decimal: 00:00
                        created: '2025-11-13T22:49:56+00:00'
                        clock_type: standard
                        event_type: rebound
                        attribution:
                          name: Mist
                          id: 0780b080-347b-407b-b8d6-fa109ec23908
                          team_basket: right
                        location:
                          coord_x: 213
                          coord_y: 195
                          action_area: backcourt
                        possession:
                          name: Mist
                          id: 0780b080-347b-407b-b8d6-fa109ec23908
                        on_court:
                          home:
                            name: Mist
                            id: 0780b080-347b-407b-b8d6-fa109ec23908
                            players:
                            - full_name: Courtney Vandersloot
                              jersey_number: '25'
                              id: 9234b3d7-b5b7-4bb3-99d5-0ae9737c55a1
                            - full_name: Rickea Jackson
                              jersey_number: '5'
                              id: 529366c1-1863-4b1e-b789-5a8c52124f30
                            - full_name: DiJonai Carrington
                              jersey_number: '21'
                              id: 47169cbe-5640-460b-a840-7f438a124330
                          away:
                            name: Lunar Owls
                            id: 67c22115-2385-458f-8632-a67a025fef55
                            players:
                            - full_name: Shakira Austin
                              jersey_number: '1'
                              id: afd90940-4f4c-490a-8a22-1988ccc8e79d
                            - full_name: Courtney Williams
                              jersey_number: '10'
                              id: 95b03dc9-26cf-47ca-abf6-8380850d1e4e
                            - full_name: Allisha Gray
                              jersey_number: '15'
                              id: f0fef47c-4e5f-4b81-8875-3f01f8a0ea1b
                        statistics:
                        - type: rebound
                          rebound_type: defensive
                          team:
                            name: Mist
                            id: 0780b080-347b-407b-b8d6-fa109ec23908
                    - type: elam
                      id: 1454a670-c189-4f90-a7ea-b73721ef01a4
                      number: 4
                      sequence: 4
                      scoring:
                        times_tied: 1
                        lead_changes: 1
                        home:
                          name: Mist
                          id: 0780b080-347b-407b-b8d6-fa109ec23908
                          points: 7
                        away:
                          name: Lunar Owls
                          id: 67c22115-2385-458f-8632-a67a025fef55
                          points: 17
                      events:
                      - id: d9e9b1c2-bc9b-4bb5-9c87-1ae61a720483
                        clock: 00:19
                        updated: '2025-11-13T23:53:47+00:00'
                        description: Jewell Loyd makes two point layup (Courtney Vandersloot assists)
                        sequence: 1763078027323
                        home_points: 75
                        away_points: 67
                        clock_decimal: 00:19
                        created: '2025-11-13T23:53:47+00:00'
                        clock_type: elam
                        clock_directional: +00:19
                        event_type: twopointmade
                        attribution:
                          name: Mist
                          id: 0780b080-347b-407b-b8d6-fa109ec23908
                          team_basket: left
                        location:
                          coord_x: 98
                          coord_y: 319
                          action_area: inthepaint
                        possession:
                          name: Lunar Owls
                          id: 67c22115-2385-458f-8632-a67a025fef55
                        on_court:
                          home:
                            name: Mist
                            id: 0780b080-347b-407b-b8d6-fa109ec23908
                            players:
                            - full_name: Jewell Loyd
                              jersey_number: '24'
                              id: 2387d221-be55-495a-b2b7-cddbce9addcc
                            - full_name: Courtney Vandersloot
                              jersey_number: '25'
                              id: 9234b3d7-b5b7-4bb3-99d5-0ae9737c55a1
                            - full_name: Breanna Stewart
                              jersey_number: '30'
                              id: a00515fd-bdd9-44d1-83a5-597a99316c54
                          away:
                            name: Lunar Owls
                            id: 67c22115-2385-458f-8632-a67a025fef55
                            players:
                            - full_name: Napheesa Collier
                              jersey_number: '24'
                              id: fd8d4b11-3d70-450a-b65c-016bec29cc9d
                            - full_name: Courtney Williams
                              jersey_number: '10'
                              id: 95b03dc9-26cf-47ca-abf6-8380850d1e4e
                            - full_name: Allisha Gray
                              jersey_number: '15'
                              id: f0fef47c-4e5f-4b81-8875-3f01f8a0ea1b
                        statistics:
                        - type: fieldgoal
                          made: true
                          shot_type: layup
                          points: 2
                          shot_distance: 3.54
                          winning_basket: false
                          team:
                            name: Mist
                            id: 0780b080-347b-407b-b8d6-fa109ec23908
                          player:
                            full_name: Jewell Loyd
                            jersey_number: '24'
                            id: 2387d221-be55-495a-b2b7-cddbce9addcc
                        - type: assist
                          team:
                            name: Mist
                            id: 0780b080-347b-407b-b8d6-fa109ec23908
                          player:
                            full_name: Courtney Vandersloot
                            jersey_number: '25'
                            id: 9234b3d7-b5b7-4bb3-99d5-0ae9737c55a1
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 838316ea-ab7b-4581-a1dd-74229d1970d5
                  status:
                    type: string
                    example: closed
                  coverage:
                    type: string
                    example: full
                  scheduled:
                    type: string
                    example: '2025-01-18T00:00:00+00:00'
                  lead_changes:
                    type: integer
                    example: 7
                    default: 0
                  times_tied:
                    type: integer
                    example: 6
                    default: 0
                  clock:
                    type: string
                    example: '3:26'
                  quarter:
                    type: integer
                    example: 4
                    default: 0
                  possession_arrow:
                    type: string
                    example: 0780b080-347b-407b-b8d6-fa109ec23908
                  track_on_court:
                    type: boolean
                    example: true
                    default: true
                  entry_mode:
                    type: string
                    example: LDE
                  clock_decimal:
                    type: string
                    example: '3:26'
                  broadcasts:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: TV
                        locale:
                          type: string
                          example: National
                        network:
                          type: string
                          example: TNT
                        channel:
                          type: string
                          example: '245'
                  time_zones:
                    type: object
                    properties:
                      venue:
                        type: string
                        example: US/Eastern
                      home:
                        type: string
                        example: US/Eastern
                      away:
                        type: string
                        example: US/Eastern
                  season:
                    type: object
                    properties:
                      id:
                        type: string
                        example: c86ab7c9-5408-44e6-af06-c22636262927
                      year:
                        type: integer
                        example: 2025
                        default: 0
                      type:
                        type: string
                        example: REG
                      name:
                        type: string
                        example: Regular Season
                  home:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Mist
                      alias:
                        type: string
                        example: MST
                      id:
                        type: string
                        example: 0780b080-347b-407b-b8d6-fa109ec23908
                      points:
                        type: integer
                        example: 80
                        default: 0
                      remaining_timeouts:
                        type: integer
                        example: 0
                        default: 0
                  periods:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          example: quarter
                        id:
                          type: string
                          example: c2a3e4bd-1eb2-4730-9460-0ea601ed6d6e
                        number:
                          type: integer
                          example: 1
                          default: 0
                        sequence:
                          type: integer
                          example: 1
                          default: 0
                        scoring:
                          type: object
                          properties:
                            home:
                              type: object
                              properties:
                                name:
                                  type: string
                                  example: Mist
                                id:
                                  type: string
                                  example: 0780b080-347b-407b-b8d6-fa109ec23908
                                points:
                                  type: integer
                                  example: 20
                                  default: 0
                            away:
                              type: object
                              properties:
                                name:
                                  type: string
                                  example: Lunar Owls
                                id:
                                  type: string
                                  example: 67c22115-2385-458f-8632-a67a025fef55
                                points:
                                  type: integer
                                  example: 19
                                  default: 0
                        events:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 49c5da0f-df85-4c1a-bc0e-4544157210ca
                              clock:
                                type: string
                                example: '6:48'
                              updated:
                                type: string
                                example: '2025-11-13T22:17:08+00:00'
                              description:
                                type: string
                                example: Breanna Stewart makes two point jump shot
                              sequence:
                                type: integer
                                example: 1763072228727
                                default: 0
                              home_points:
                                type: integer
                                example: 2
                                default: 0
                              away_points:
                                type: integer
                                example: 0
                                default: 0
                              clock_decimal:
                                type: string
                                example: '6:48'
                              created:
                                type: string
                                example: '2025-11-13T22:17:08+00:00'
                              clock_type:
                                type: string
                                example: standard
                              event_type:
                                type: string
                                example: twopointmade
                              attribution:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    example: Mist
                                  id:
                                    type: string
                                    example: 0780b080-347b-407b-b8d6-fa109ec23908
                                  team_basket:
                                    type: string
                                    example: right
                              location:
                                type: object
                                properties:
                                  coord_x:
                                    type: integer
                                    example: 1042
                                    default: 0
                                  coord_y:
                                    type: integer
                                    example: 140
                                    default: 0
                              possession:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    example: Lunar Owls
                                  id:
                                    type: string
                                    example: 67c22115-2385-458f-8632-a67a025fef55
                              on_court:
                                type: object
                                properties:
                                  home:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        example: Mist
                                      id:
                                        type: string
                                        example: 0780b080-347b-407b-b8d6-fa109ec23908
                                      players:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            full_name:
                                              type: string
                                              example: Jewell Loyd
                                            jersey_number:
                                              type: string
                                              example: '24'
                                            id:
                                              type: string
                                              example: 2387d221-be55-495a-b2b7-cddbce9addcc
                                  away:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        example: Lunar Owls
                                      id:
                                        type: string
                                        example: 67c22115-2385-458f-8632-a67a025fef55
[...]
